<!DOCTYPE html>

<html lang="en">

	<head>
		<meta charset="utf-8" />
		<title>Title</title>

		<meta http-equiv="content-type" content="text/html; charset=utf-8" />

		<meta name="title" content="" />
		<meta name="description" content="" />

		<meta name="viewport" content="initial-scale=1,minimum-scale=1,width=device-width">

	    <!-- Javascript -->
	    <script type="text/javascript" src="themes/seven/js/vendor/modernizr.js"></script>
		<script src="themes/seven/js/js_RvW5R0PizGDrJlA1PzLEVr4MG_cq5vDiuqphUm9ol_4.js"></script>
		<script src="themes/seven/js/js_UVcNlWtLcJbemxI_xc0JPFa5Td3zoXSwVo0IaUQiolA.js"></script>

	    <!-- Stylesheets -->
		<link rel="stylesheet" href="themes/ember/css/all.css" type="text/css" media="screen" />
	</head>

	<body>
		
	<div class="region region-page-top">

    <nav id="toolbar-administration" class="toolbar" role="navigation"><div id="toolbar-bar" class="toolbar-bar clearfix">
    <h2 class="visually-hidden">Toolbar items</h2>
			<div class="toolbar-tab">
				<a href="#" title="Admin menu" class="toolbar-icon active toolbar-icon-menu" data-drupal-subtrees="" id="toolbar-item--2" data-toolbar-tray="toolbar-item--2-tray" aria-owns="toolbar-item--2" role="button" aria-pressed="false">Menu</a>
			</div>
			<div class="toolbar-tab">
				<a href="#" title="Shortcuts" class="toolbar-icon toolbar-icon-shortcut" id="toolbar-item--3" data-toolbar-tray="toolbar-item--3-tray" aria-owns="toolbar-item--3" role="button" aria-pressed="false">Shortcuts</a>
			</div>
			<div class="toolbar-tab">
				<a href="#" title="My account" class="toolbar-icon toolbar-icon-user" id="toolbar-item--5" data-toolbar-tray="toolbar-item--5-tray" aria-owns="toolbar-item--5" role="button" aria-pressed="false">user</a>
			</div>
		</div>
	
	<div id="toolbar-item--2-tray" data-toolbar-tray="toolbar-item--2-tray" aria-owned-by="toolbar-item--2" class="toolbar-tray active toolbar-tray-horizontal" style="padding-top:">
		<div class="toolbar-lining clearfix">
			<h3 class="toolbar-tray-name visually-hidden">Administration menu</h3>
			<div class="toolbar-menu-administration">
				<ul class="menu">
					<li class="first collapsed">
						<a href="/content" id="toolbar-link-admin-content" class="toolbar-icon toolbar-icon-content active" title="Find and manage content">Content</a>
					</li>
					<li class="collapsed">
						<a href="/structure" id="toolbar-link-admin-structure" class="toolbar-icon toolbar-icon-structure" title="Administer blocks, content types, menus, etc.">Structure</a>
					</li>
					<li class="leaf">
						<a href="/appearance" id="toolbar-link-admin-appearance" class="toolbar-icon toolbar-icon-appearance" title="Select and configure your themes.">Appearance</a>
					</li>
					<li class="leaf">
						<a href="/modules" id="toolbar-link-admin-modules" class="toolbar-icon toolbar-icon-extend" title="Add and enable modules to extend site functionality.">Extend</a>
					</li>
					<li class="collapsed">
						<a href="/config" id="toolbar-link-admin-config" class="toolbar-icon toolbar-icon-configuration" title="Administer settings.">Configuration</a></li>
					<li class="collapsed">
						<a href="/people" id="toolbar-link-admin-people" class="toolbar-icon toolbar-icon-people" title="Manage user accounts, roles, and permissions.">People</a>
					</li>
					<li class="collapsed">
						<a href="/reports" id="toolbar-link-admin-reports" class="toolbar-icon toolbar-icon-reports" title="View reports, updates, and errors.">Reports</a>
					</li>
					<li class="last leaf">
						<a href="/help" id="toolbar-link-admin-help" class="toolbar-icon toolbar-icon-help" title="Reference for usage, configuration, and modules.">Help</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

<div id="toolbar-item--3-tray" data-toolbar-tray="toolbar-item--3-tray" aria-owned-by="toolbar-item--3" class="toolbar-tray">
	<div class="toolbar-lining clearfix">
		<h3 class="toolbar-tray-name visually-hidden">User-defined shortcuts</h3>
			<ul class="menu">
				<li class="first leaf"><a href="/node/add">Add content</a></li>
				<li class="last leaf active-trail"><a href="/admin/content" class="active-trail active">All content</a></li>
				</ul>
				<a href="/admin/config/user-interface/shortcut/manage/default" class="edit-shortcuts">Edit shortcuts</a>
			</div>
		</div>
		<div id="toolbar-item--5-tray" data-toolbar-tray="toolbar-item--5-tray" aria-owned-by="toolbar-item--5" class="toolbar-tray">
			<div class="toolbar-lining clearfix">
				<h3 class="toolbar-tray-name visually-hidden">User account actions</h3>
				<ul class="menu">
				<li class="account odd first"><a href="/user" title="User account">View profile</a></li>
				<li class="account-edit even"><a href="/user/1/edit" title="Edit user account">Edit profile</a></li><li class="logout odd last"><a href="/user/logout">Log out</a></li>
				</ul>
			</div>
		</div>
	</nav>
  </div>

		<div class="interface">
			{% block content %}{% endblock %}
		</div><!-- interface -->

		<script src="themes/seven/js/js_EzCRBuqKuhqHkNrELFwqNBfZMDvzJhe61nIizikajn4.js"></script>
	</body>

	

</html>