
{% block content %}
    <header id="branding" class="clearfix">
      <nav class="breadcrumb" role="navigation">
    <h2 class="visually-hidden">You are here</h2>
    <ol>
          <li><a href="/">Home</a></li>
          <li><a href="/admin">Administration</a></li>
        </ol>
  </nav>
    <h1 class="page-title">Content</h1> <span class="add-or-remove-shortcuts add-shortcut">☆</span>
      <ul class="tabs primary"><li class="active"><a href="/admin/content" class="active">Content<span class="visually-hidden">(active tab)</span></a></li><li><a href="files">Files</a></li><li><a href="/admin/content/comment">Comments</a></li></ul>
    </header>

  <div id="page">
    
    <div class="tabs-secondary clearfix" role="navigation"></div>
    
    <main id="content" class="clearfix" role="main">
      <div class="visually-hidden"><a id="main-content"></a></div>
              
        <div id="console" class="clearfix"></div>

        <ul class="action-links">
          <li><a href="/node/add" class="button button-action">Add content</a></li>
        </ul>
    
    <div class="region region-content">
    <div class="block block-system" id="block-seven-content">
  
  <div class="content">
    <div class="view view-content view-id-content view-display-id-page_1 view-dom-id-1424a12ccb480d973f2e9567a9efb9fa6368c77ded71198e354377e446f9d7ab">
  
    <div class="view-filters">
      <form class="views-exposed-form" action="/admin/content" method="get" id="views-exposed-form-content-page-1" accept-charset="UTF-8">
        <div>
          <div class="views-exposed-form clearfix">
            <div class="form-item form-type-select form-item-status">
              <label for="edit-status">Published status</label> <select id="edit-status" name="status" class="form-select"><option value="All" selected="selected">- Any -</option><option value="1">Published</option><option value="2">Unpublished</option></select>
            </div>
            <div class="form-item form-type-select form-item-type">
              <label for="edit-type">Type</label> <select id="edit-type" name="type" class="form-select"><option value="All" selected="selected">- Any -</option><option value="article">Article</option><option value="page">Basic page</option></select>
            </div>
            <div class="form-actions form-wrapper" id="edit-actions"><input type="submit" id="edit-submit-content" name="" value="Apply" class="button form-submit" /></div>
          </div>
        </div>  
      </form>
    </div>
    
    <div class="view-content">
      <div class="views-form"><form action="/admin/content" method="post" id="views-form-content-page-1" accept-charset="UTF-8"><div><form action="/admin/content" method="post" id="views-form-content-page-1" accept-charset="UTF-8"><div><div id="edit-header" class="form-wrapper"><div id="edit-node-bulk-form--2" class="form-wrapper"><div class="form-item form-type-select form-item-action">
    <label for="edit-action">With selection</label> <select id="edit-action" name="action" class="form-select"><option value="node_delete_action">Delete selected content</option><option value="node_make_sticky_action">Make content sticky</option><option value="node_make_unsticky_action">Make content unsticky</option><option value="node_promote_action">Promote content to front page</option><option value="node_publish_action">Publish content</option><option value="node_save_action">Save content</option><option value="node_unpromote_action">Remove content from front page</option><option value="node_unpublish_action">Unpublish content</option></select>
</div>
<div class="form-actions form-wrapper" id="edit-actions--2"><input type="submit" id="edit-submit--2" name="op" value="Apply" class="button form-submit" /></div></div></div><input type="hidden" name="form_build_id" value="form-OU18zvTPoz0eglPvFEOyMy0EDMPzgWwnqIxVQ0Oojao" /><input type="hidden" name="form_token" value="lLsa2VSgT8ArOsoAndZfDj4L6SIz4_pJgfdbodcWr6Q" /><input type="hidden" name="form_id" value="views_form_content_page_1" /><table class="views-table views-view-table sticky-enabled cols-7 responsive-enabled">
        <thead>
      <tr>
                  <th class="views-field views-field-node-bulk-form select-all" scope="col">
            
          </th>
                  <th class="views-field views-field-title" id="view-title-table-column" scope="col">
            <a href="/admin/content?status=All&amp;type=All&amp;order=title&amp;sort=asc" title="sort by Title">Title</a>
          </th>
                  <th class="views-field views-field-type" id="view-type-table-column" scope="col">
            <a href="/admin/content?status=All&amp;type=All&amp;order=type&amp;sort=asc" title="sort by Content Type">Content Type</a>
          </th>
                  <th class="views-field views-field-name priority-low" id="view-name-table-column" scope="col">
            Author
          </th>
                  <th class="views-field views-field-status" id="view-status-table-column" scope="col">
            <a href="/admin/content?status=All&amp;type=All&amp;order=status&amp;sort=asc" title="sort by Status">Status</a>
          </th>
                  <th class="views-field views-field-changed active priority-low" id="view-changed-table-column" scope="col">
            <a href="/admin/content?status=All&amp;type=All&amp;order=changed&amp;sort=asc" title="sort by Updated">Updated<img typeof="foaf:Image" src="http://drupal-8-0-alpha6.local:8083/core/themes/seven/images/arrow-asc.png" width="9" height="5" alt="Sort ascending" title="Sort ascending" /></a>
          </th>
                  <th class="views-field views-field-dropbutton" id="view-dropbutton-table-column" scope="col">
            Operations
          </th>
              </tr>
    </thead>
    <tbody>
          <tr class="odd views-row-first">
                  <td class="views-field views-field-node-bulk-form">
            <div class="form-item form-type-checkbox form-item-node-bulk-form-0">
 <label class="visually-hidden" for="edit-node-bulk-form-0">Update this item</label> <input type="checkbox" id="edit-node-bulk-form-0" name="node_bulk_form[0]" value="1" class="form-checkbox" />
</div>

          </td>
                  <td class="views-field views-field-timestamp">
            <a href="/node/2">Nonsense</a>
          </td>
                  <td class="views-field views-field-type" headers="view-type-table-column">
            Basic page
          </td>
                  <td class="views-field views-field-name priority-low" headers="view-name-table-column">
            <a href="/user/1" title="View user profile." class="username" lang="" about="/user/1" typeof="schema:Person" property="schema:name" datatype="">tkoleary</a>
          </td>
                  <td class="views-field views-field-status" headers="view-status-table-column">
            Published
          </td>
                  <td class="views-field views-field-changed active priority-low" headers="view-changed-table-column">
            12/08/2013 - 22:04
          </td>
                  <td class="views-field views-field-dropbutton" headers="view-dropbutton-table-column">
              <div class="dropbutton-wrapper"><div class="dropbutton-widget"><ul class="dropbutton"><li class="edit-node odd first"><a href="/node/2/edit?destination=admin/content">Edit</a></li><li class="delete-node even last"><a href="/node/2/delete?destination=admin/content">Delete</a></li></ul></div></div>
          </td>
              </tr>
          <tr class="even views-row-last">
                  <td class="views-field views-field-node-bulk-form">
            <div class="form-item form-type-checkbox form-item-node-bulk-form-1">
 <label class="visually-hidden" for="edit-node-bulk-form-1">Update this item</label> <input type="checkbox" id="edit-node-bulk-form-1" name="node_bulk_form[1]" value="1" class="form-checkbox" />
</div>

          </td>
                  <td class="views-field views-field-timestamp">
            <a href="/node/1">Blather</a>
          </td>
                  <td class="views-field views-field-type" headers="view-type-table-column">
            Article
          </td>
                  <td class="views-field views-field-name priority-low" headers="view-name-table-column">
            <a href="/user/1" title="View user profile." class="username" lang="" about="/user/1" typeof="schema:Person" property="schema:name" datatype="">tkoleary</a>
          </td>
                  <td class="views-field views-field-status" headers="view-status-table-column">
            Published
          </td>
                  <td class="views-field views-field-changed active priority-low" headers="view-changed-table-column">
            12/08/2013 - 22:04
          </td>
                  <td class="views-field views-field-dropbutton" headers="view-dropbutton-table-column">
              <div class="dropbutton-wrapper"><div class="dropbutton-widget"><ul class="dropbutton"><li class="edit-node odd first"><a href="/node/1/edit?destination=admin/content">Edit</a></li><li class="delete-node even last"><a href="/node/1/delete?destination=admin/content">Delete</a></li></ul></div></div>
          </td>
              </tr>
      </tbody>
</table>
<div class="form-actions form-wrapper" id="edit-actions"><input type="submit" id="edit-submit" name="op" value="Apply" class="button form-submit" /></div></div></form></div></form></div>
    </div>
  
      
          </div>

  </div>
</div>

  </div>

    </main>

    <footer id="footer" role="contentinfo">
      
    </footer>

  </div>
{% endblock %}
