
{% block content %}
    <div id="branding" class="clearfix">
      <nav class="breadcrumb" role="navigation">
        <ol>
          <li><a href="#">Home</a></li>
          <li><a href="#">Help</a></li>
        </ol>
      </nav>
      <h1 class="page-title">Help</h1> <span class="add-or-remove-shortcuts add-shortcut">☆</span>
    </div>

    <div class="l-container position-container is-horizontal-enabled is-horizontal">
      

      <section>

  <div id="page">
          <div class="tabs-secondary clearfix" role="navigation"></div>
    
    <main id="content" class="clearfix" role="main">
      <div class="visually-hidden"><a id="main-content"></a></div>
              <div id="console" class="clearfix"></div>
                    <div id="help">
            <div class="region region-help">
    <div class="block block-system" id="block-seven-help" role="complementary">
  
    

  <div class="content">
    <h2>Getting Started</h2><p>Follow these steps to set up and start using your website:</p><ol><li><strong>Configure your website</strong> Once logged in, visit the <a href="/admin">Administration page</a>, where you may <a href="/admin/config">customize and configure</a> all aspects of your website.</li><li><strong>Enable additional functionality</strong> Next, visit the <a href="/admin/modules">Extend page</a> and enable modules that suit your specific needs. You can find additional modules at the <a href="https://drupal.org/project/modules">Drupal.org modules page</a>.</li><li><strong>Customize your website design</strong> To change the "look and feel" of your website, visit the <a href="/admin/appearance">Appearance page</a>. You may choose from one of the included themes or download additional themes from the <a href="https://drupal.org/project/themes">Drupal.org themes page</a>.</li><li><strong>Start posting content</strong> Finally, you may <a href="/node/add">add new content</a> to your website.</li></ol><p>For more information, refer to the subjects listed in the Help Topics section or to the <a href="https://drupal.org/documentation">online documentation</a> and <a href="https://drupal.org/support">support</a> pages at <a href="https://drupal.org">drupal.org</a>.</p>

  </div>
</div>

  </div>

        </div>
                    <div class="region region-content">
    <div class="block block-system" id="block-seven-content">
  
    

  <div class="content">
    <h2>Help topics</h2><p>Help is available on the following items:</p><div class="clearfix"><div class="help-items"><ul><li><a href="/admin/help/block">Block</a></li><li><a href="/admin/help/breakpoint">Breakpoint</a></li><li><a href="/admin/help/ckeditor">CKEditor</a></li><li><a href="/admin/help/color">Color</a></li><li><a href="/admin/help/comment">Comment</a></li><li><a href="/admin/help/config">Configuration Manager</a></li><li><a href="/admin/help/contact">Contact</a></li><li><a href="/admin/help/contextual">Contextual Links</a></li><li><a href="/admin/help/custom_block">Custom Block</a></li></ul></div><div class="help-items"><ul><li><a href="/admin/help/dblog">Database Logging</a></li><li><a href="/admin/help/entity">Entity</a></li><li><a href="/admin/help/field">Field</a></li><li><a href="/admin/help/field_ui">Field UI</a></li><li><a href="/admin/help/file">File</a></li><li><a href="/admin/help/filter">Filter</a></li><li><a href="/admin/help/help">Help</a></li><li><a href="/admin/help/history">History</a></li><li><a href="/admin/help/image">Image</a></li></ul></div><div class="help-items"><ul><li><a href="/admin/help/menu">Menu</a></li><li><a href="/admin/help/menu_link">Menu Link</a></li><li><a href="/admin/help/node">Node</a></li><li><a href="/admin/help/number">Number</a></li><li><a href="/admin/help/options">Options</a></li><li><a href="/admin/help/path">Path</a></li><li><a href="/admin/help/rdf">RDF</a></li><li><a href="/admin/help/search">Search</a></li><li><a href="/admin/help/shortcut">Shortcut</a></li></ul></div><div class="help-items help-items-last"><ul><li><a href="/admin/help/system">System</a></li><li><a href="/admin/help/taxonomy">Taxonomy</a></li><li><a href="/admin/help/text">Text</a></li><li><a href="/admin/help/editor">Text Editor</a></li><li><a href="/admin/help/toolbar">Toolbar</a></li><li><a href="/admin/help/update">Update Manager</a></li><li><a href="/admin/help/user">User</a></li></ul></div></div>
  </div>
</div>

  </div>

    </main>

    <footer id="footer" role="contentinfo">
      
    </footer>

  </div>
  <p>&nbsp</p>
  </section>

  </div>
{% endblock %}
