
{% block content %}
   <body class="html not-front logged-in page-admin page-admin-modules no-sidebars">
    <a href="#main-content" class="visually-hidden focusable skip-link">
      Skip to main content
    </a>
      
  </div>

      <header id="branding" class="clearfix">
      <nav class="breadcrumb" role="navigation">
    <h2 class="visually-hidden">You are here</h2>
    <ol>
          <li><a href="/">Home</a></li>
          <li><a href="/admin">Administration</a></li>
        </ol>
  </nav>

  <h1 class="page-title">Extend</h1> <span class="add-or-remove-shortcuts add-shortcut">☆</span>
       
    <ul class="tabs primary">
      <li class="active"><a href="/modules" class="active">List<span class="visually-hidden">(active tab)</span></a></li>
      <li><a href="/install">Update</a></li>
    </ul>
    
    </header>

  <div id="page">
          <div class="tabs-secondary clearfix" role="navigation"></div>
    
    <main id="content" class="clearfix" role="main">
      <div class="visually-hidden"><a id="main-content"></a></div>
              <div id="console" class="clearfix">  <div class="messages messages--error visually-hidden" role="contentinfo" aria-label="Error message">
          <div role="alert">
            <h2 class="visually-hidden">Error message</h2>
              Your version of Drupal is no longer supported. Upgrading is strongly recommended! See the <a href="/admin/reports/updates/update">available updates</a> page for more information and to install your missing updates.
          </div>
      </div>
</div>
                    <div id="help">
            <div class="region region-help">
    <div class="block block-system" id="block-seven-help" role="complementary">
  
    

  <div class="content">
    <p>Download additional <a href="http://drupal.org/project/modules">contributed modules</a> to extend Drupal's functionality.</p><p>Regularly review and install <a href="/admin/reports/updates">available updates</a> to maintain a secure and current site. Always run the <a href="http://drupal-8-0-alpha6.local:8083/core/update.php">update script</a> each time a module is updated.</p>

  </div>
</div>

  </div>

        </div>
                    <ul class="action-links">
          <li><a href="/admin/modules/install" class="button button-action">Install new module</a></li>
        </ul>
              <div class="region region-content">
    <div class="block block-system" id="block-seven-content">
  
    

  <div class="content">
    <form class="system-modules" action="/admin/modules" method="post" id="system-modules" accept-charset="UTF-8">
      <div>
        <div class="table-filter js-show form-wrapper" id="edit-filters">
          
          <div class="form-item form-type-search form-item-text">
            <label for="edit-text">Search</label> 
            <input class="table-filter-text form-search" data-table="#system-modules" autocomplete="off" title="Enter a part of the     module name or description to filter by." type="search" id="edit-text" name="text" value="" size="30" maxlength="128" placeholder="Enter module name" />
          </div>
        
        </div>
        
        <details class="package-listing form-wrapper" open="open" id="edit-modules-core">

        <summary role="button" aria-controls="edit-modules-core" aria-expanded>Core</summary>

        <div class="details-wrapper">
          <table class="responsive-enabled">
            
            <thead><tr><th class="checkbox"><span >Uninstall</span></th><th class="name">Name</th><th class="description priority-low">Description</th> </tr></thead>
            
            <tbody>
              <tr class="odd">
                <td class="checkbox">
                  <div class="form-item form-type-checkbox form-item-modules-Core-action-enable">
                    <input type="checkbox" id="edit-modules-core-action-enable" name="modules[Core][action][enable]" value="1" class="form-checkbox" />
                  </div>
                </td>
                  <td class="module">
                    <label id="module-action" for="edit-modules-core-action-enable" class="module-name table-filter-text-source">Actions</label>
                  </td>
                  <td class="description expand priority-low">
                    <details id="edit-modules-core-action-enable-description" class="form-wrapper">
                    <summary role="button" aria-controls="edit-modules-core-action-enable-description">
                    <span class="text"> Perform tasks on specific events triggered within the system.</span></summary>
                      <div class="details-wrapper">
                        <div class="details-description"> 
                          <div class="requirements">
                            <div class="admin-requirements">Version: 8.0-dev</div>
                          </div>
                        </div>
                      </div>
                    </details>
                  </td> 
              </tr>
 <tr class="even"><td class="checkbox"><div class="form-item form-type-checkbox form-item-modules-Core-aggregator-enable">
 <input type="checkbox" id="edit-modules-core-aggregator-enable" name="modules[Core][aggregator][enable]" value="1" class="form-checkbox" />
</div>
</td><td class="module"><label id="module-aggregator" for="edit-modules-core-aggregator-enable" class="module-name table-filter-text-source">Aggregator</label></td><td class="description expand priority-low"><details id="edit-modules-core-aggregator-enable-description" class="form-wrapper"><summary role="button" aria-controls="edit-modules-core-aggregator-enable-description"><span class="text"> Aggregates syndicated content (RSS, RDF, and Atom feeds) from external sources.</span></summary><div class="details-wrapper"><div class="details-description"> <div class="requirements"><div class="admin-requirements">Version: 8.0-dev</div><div class="admin-requirements">Requires: File, Field</div></div></div></div></details>
</td> </tr>
 <tr class="odd"><td class="checkbox"><div class="form-item form-type-checkbox form-item-modules-Core-ban-enable">
 <input type="checkbox" id="edit-modules-core-ban-enable" name="modules[Core][ban][enable]" value="1" class="form-checkbox" />
</div>
</td><td class="module"><label id="module-ban" for="edit-modules-core-ban-enable" class="module-name table-filter-text-source">Ban</label></td><td class="description expand priority-low"><details id="edit-modules-core-ban-enable-description" class="form-wrapper"><summary role="button" aria-controls="edit-modules-core-ban-enable-description"><span class="text"> Enables banning of IP addresses.</span></summary><div class="details-wrapper"><div class="details-description"> <div class="requirements"><div class="admin-requirements">Version: 8.0-dev</div></div></div></div></details>
</td> </tr>
 <tr class="even"><td class="checkbox"><div class="form-item form-type-checkbox form-item-modules-Core-block-enable form-disabled">
 <input disabled="disabled" type="checkbox" id="edit-modules-core-block-enable" name="modules[Core][block][enable]" value="1" checked="checked" class="form-checkbox" />
</div>
</td><td class="module"><label id="module-block" for="edit-modules-core-block-enable" class="module-name table-filter-text-source">Block</label></td><td class="description expand priority-low"><details id="edit-modules-core-block-enable-description" class="form-wrapper"><summary role="button" aria-controls="edit-modules-core-block-enable-description"><span class="text"> Controls the visual building blocks a page is constructed with. Blocks are boxes of content rendered into an area, or region, of a web page.</span></summary><div class="details-wrapper"><div class="details-description"> <div class="requirements"><div class="admin-requirements">Version: 8.0-dev</div><div class="admin-requirements">Required by: Custom Block</div></div>  <div class="links"><a href="/admin/help/block" class="module-link module-link-help" title="Help" id="edit-modules-core-block-links-help">Help</a><a href="/admin/people/permissions#module-block" class="module-link module-link-permissions" title="Configure permissions" id="edit-modules-core-block-links-permissions">Permissions</a><a href="/admin/structure/block" class="module-link module-link-configure" title="Configure what block content appears in your site&#039;s sidebars and other regions." id="edit-modules-core-block-links-configure">Configure</a></div></div></div></details>
</td> </tr>
 <tr class="odd"><td class="checkbox"><div class="form-item form-type-checkbox form-item-modules-Core-book-enable">
 <input type="checkbox" id="edit-modules-core-book-enable" name="modules[Core][book][enable]" value="1" class="form-checkbox" />
</div>
</td><td class="module"><label id="module-book" for="edit-modules-core-book-enable" class="module-name table-filter-text-source">Book</label></td><td class="description expand priority-low"><details id="edit-modules-core-book-enable-description" class="form-wrapper"><summary role="button" aria-controls="edit-modules-core-book-enable-description"><span class="text"> Allows users to create and organize related content in an outline.</span></summary><div class="details-wrapper"><div class="details-description"> <div class="requirements"><div class="admin-requirements">Version: 8.0-dev</div><div class="admin-requirements">Requires: Menu Link, Node</div></div></div></div></details>
</td> </tr>
 <tr class="even"><td class="checkbox"><div class="form-item form-type-checkbox form-item-modules-Core-breakpoint-enable form-disabled">
 <input disabled="disabled" type="checkbox" id="edit-modules-core-breakpoint-enable" name="modules[Core][breakpoint][enable]" value="1" checked="checked" class="form-checkbox" />
</div>
</td><td class="module"><label id="module-breakpoint" for="edit-modules-core-breakpoint-enable" class="module-name table-filter-text-source">Breakpoint</label></td><td class="description expand priority-low"><details id="edit-modules-core-breakpoint-enable-description" class="form-wrapper"><summary role="button" aria-controls="edit-modules-core-breakpoint-enable-description"><span class="text"> Manage breakpoints and breakpoint groups for responsive designs.</span></summary><div class="details-wrapper"><div class="details-description"> <div class="requirements"><div class="admin-requirements">Version: 8.0-dev</div><div class="admin-requirements">Required by: Picture (<span class="admin-disabled">disabled</span>), Toolbar</div></div>  <div class="links"><a href="/admin/help/breakpoint" class="module-link module-link-help" title="Help" id="edit-modules-core-breakpoint-links-help">Help</a></div></div></div></details>
</td> </tr>
 <tr class="odd"><td class="checkbox"><div class="form-item form-type-checkbox form-item-modules-Core-ckeditor-enable form-disabled">
 <input disabled="disabled" type="checkbox" id="edit-modules-core-ckeditor-enable" name="modules[Core][ckeditor][enable]" value="1" checked="checked" class="form-checkbox" />
</div>
</td><td class="module"><label id="module-ckeditor" for="edit-modules-core-ckeditor-enable" class="module-name table-filter-text-source">CKEditor</label></td><td class="description expand priority-low"><details id="edit-modules-core-ckeditor-enable-description" class="form-wrapper"><summary role="button" aria-controls="edit-modules-core-ckeditor-enable-description"><span class="text"> WYSIWYG editing for rich text fields using CKEditor.</span></summary><div class="details-wrapper"><div class="details-description"> <div class="requirements"><div class="admin-requirements">Version: 8.0-dev</div><div class="admin-requirements">Requires: Text Editor, Filter, File, Field</div></div>  <div class="links"><a href="/admin/help/ckeditor" class="module-link module-link-help" title="Help" id="edit-modules-core-ckeditor-links-help">Help</a></div></div></div></details>
</td> </tr>
 <tr class="even"><td class="checkbox"><div class="form-item form-type-checkbox form-item-modules-Core-color-enable form-disabled">
 <input disabled="disabled" type="checkbox" id="edit-modules-core-color-enable" name="modules[Core][color][enable]" value="1" checked="checked" class="form-checkbox" />
</div>
</td><td class="module"><label id="module-color" for="edit-modules-core-color-enable" class="module-name table-filter-text-source">Color</label></td><td class="description expand priority-low"><details id="edit-modules-core-color-enable-description" class="form-wrapper"><summary role="button" aria-controls="edit-modules-core-color-enable-description"><span class="text"> Allows administrators to change the color scheme of compatible themes.</span></summary><div class="details-wrapper"><div class="details-description"> <div class="requirements"><div class="admin-requirements">Version: 8.0-dev</div></div>  <div class="links"><a href="/admin/help/color" class="module-link module-link-help" title="Help" id="edit-modules-core-color-links-help">Help</a></div></div></div></details>
</td> </tr>
 <tr class="odd"><td class="checkbox"><div class="form-item form-type-checkbox form-item-modules-Core-comment-enable form-disabled">
 <input disabled="disabled" type="checkbox" id="edit-modules-core-comment-enable" name="modules[Core][comment][enable]" value="1" checked="checked" class="form-checkbox" />
</div>
</td><td class="module"><label id="module-comment" for="edit-modules-core-comment-enable" class="module-name table-filter-text-source">Comment</label></td><td class="description expand priority-low"><details id="edit-modules-core-comment-enable-description" class="form-wrapper"><summary role="button" aria-controls="edit-modules-core-comment-enable-description"><span class="text"> Allows users to comment on and discuss published content.</span></summary><div class="details-wrapper"><div class="details-description"> <div class="requirements"><div class="admin-requirements">Version: 8.0-dev</div><div class="admin-requirements">Requires: Datetime, Field, Text</div><div class="admin-requirements">Required by: Drupal (Field type(s) in use - see <a href="/admin/reports/fields">Field list</a>), Forum (<span class="admin-disabled">disabled</span>), Tracker (<span class="admin-disabled">disabled</span>)</div></div>  <div class="links"><a href="/admin/help/comment" class="module-link module-link-help" title="Help" id="edit-modules-core-comment-links-help">Help</a><a href="/admin/people/permissions#module-comment" class="module-link module-link-permissions" title="Configure permissions" id="edit-modules-core-comment-links-permissions">Permissions</a><a href="/admin/content/comment" class="module-link module-link-configure" title="List and edit site comments and the comment approval queue." id="edit-modules-core-comment-links-configure">Configure</a></div></div></div></details>
</td> </tr>
 <tr class="even"><td class="checkbox"><div class="form-item form-type-checkbox form-item-modules-Core-config-enable form-disabled">
 <input disabled="disabled" type="checkbox" id="edit-modules-core-config-enable" name="modules[Core][config][enable]" value="1" checked="checked" class="form-checkbox" />
</div>
</td><td class="module"><label id="module-config" for="edit-modules-core-config-enable" class="module-name table-filter-text-source">Configuration Manager</label></td><td class="description expand priority-low"><details id="edit-modules-core-config-enable-description" class="form-wrapper"><summary role="button" aria-controls="edit-modules-core-config-enable-description"><span class="text"> Allows administrators to manage configuration changes.</span></summary><div class="details-wrapper"><div class="details-description"> <div class="requirements"><div class="admin-requirements">Version: 8.0-dev</div></div>  <div class="links"><a href="/admin/help/config" class="module-link module-link-help" title="Help" id="edit-modules-core-config-links-help">Help</a><a href="/admin/people/permissions#module-config" class="module-link module-link-permissions" title="Configure permissions" id="edit-modules-core-config-links-permissions">Permissions</a><a href="/admin/config/development/configuration" class="module-link module-link-configure" title="Import, export, or synchronize your site configuration." id="edit-modules-core-config-links-configure">Configure</a></div></div></div></details>
</td> </tr>
 <tr class="odd"><td class="checkbox"><div class="form-item form-type-checkbox form-item-modules-Core-contact-enable form-disabled">
 <input disabled="disabled" type="checkbox" id="edit-modules-core-contact-enable" name="modules[Core][contact][enable]" value="1" checked="checked" class="form-checkbox" />
</div>
</td><td class="module"><label id="module-contact" for="edit-modules-core-contact-enable" class="module-name table-filter-text-source">Contact</label></td><td class="description expand priority-low"><details id="edit-modules-core-contact-enable-description" class="form-wrapper"><summary role="button" aria-controls="edit-modules-core-contact-enable-description"><span class="text"> Enables the use of both personal and site-wide contact forms.</span></summary><div class="details-wrapper"><div class="details-description"> <div class="requirements"><div class="admin-requirements">Version: 8.0-dev</div></div>  <div class="links"><a href="/admin/help/contact" class="module-link module-link-help" title="Help" id="edit-modules-core-contact-links-help">Help</a><a href="/admin/people/permissions#module-contact" class="module-link module-link-permissions" title="Configure permissions" id="edit-modules-core-contact-links-permissions">Permissions</a><a href="/admin/structure/contact" class="module-link module-link-configure" title="Create a system contact form and set up categories for the form to use." id="edit-modules-core-contact-links-configure">Configure</a></div></div></div></details>
</td> </tr>
 <tr class="even"><td class="checkbox"><div class="form-item form-type-checkbox form-item-modules-Core-contextual-enable form-disabled">
 <input disabled="disabled" type="checkbox" id="edit-modules-core-contextual-enable" name="modules[Core][contextual][enable]" value="1" checked="checked" class="form-checkbox" />
</div>
</td><td class="module"><label id="module-contextual" for="edit-modules-core-contextual-enable" class="module-name table-filter-text-source">Contextual Links</label></td><td class="description expand priority-low"><details id="edit-modules-core-contextual-enable-description" class="form-wrapper"><summary role="button" aria-controls="edit-modules-core-contextual-enable-description"><span class="text"> Provides contextual links to perform actions related to elements on a page.</span></summary><div class="details-wrapper"><div class="details-description"> <div class="requirements"><div class="admin-requirements">Version: 8.0-dev</div><div class="admin-requirements">Required by: Edit</div></div>  <div class="links"><a href="/admin/help/contextual" class="module-link module-link-help" title="Help" id="edit-modules-core-contextual-links-help">Help</a><a href="/admin/people/permissions#module-contextual" class="module-link module-link-permissions" title="Configure permissions" id="edit-modules-core-contextual-links-permissions">Permissions</a></div></div></div></details>
</td> </tr>
 <tr class="odd"><td class="checkbox"><div class="form-item form-type-checkbox form-item-modules-Core-custom-block-enable form-disabled">
 <input disabled="disabled" type="checkbox" id="edit-modules-core-custom-block-enable" name="modules[Core][custom_block][enable]" value="1" checked="checked" class="form-checkbox" />
</div>
</td><td class="module"><label id="module-custom_block" for="edit-modules-core-custom-block-enable" class="module-name table-filter-text-source">Custom Block</label></td><td class="description expand priority-low"><details id="edit-modules-core-custom-block-enable-description" class="form-wrapper"><summary role="button" aria-controls="edit-modules-core-custom-block-enable-description"><span class="text"> Allows the creation of custom blocks through the user interface.</span></summary><div class="details-wrapper"><div class="details-description"> <div class="requirements"><div class="admin-requirements">Version: 8.0-dev</div><div class="admin-requirements">Requires: Block, Text, Field</div></div>  <div class="links"><a href="/admin/help/custom_block" class="module-link module-link-help" title="Help" id="edit-modules-core-custom-block-links-help">Help</a><a href="/admin/structure/block/custom-blocks" class="module-link module-link-configure" title="Manage custom blocks." id="edit-modules-core-custom-block-links-configure">Configure</a></div></div></div></details>
</td> </tr>
 <tr class="even"><td class="checkbox"><div class="form-item form-type-checkbox form-item-modules-Core-dblog-enable form-disabled">
 <input disabled="disabled" type="checkbox" id="edit-modules-core-dblog-enable" name="modules[Core][dblog][enable]" value="1" checked="checked" class="form-checkbox" />
</div>
</td><td class="module"><label id="module-dblog" for="edit-modules-core-dblog-enable" class="module-name table-filter-text-source">Database Logging</label></td><td class="description expand priority-low"><details id="edit-modules-core-dblog-enable-description" class="form-wrapper"><summary role="button" aria-controls="edit-modules-core-dblog-enable-description"><span class="text"> Logs and records system events to the database.</span></summary><div class="details-wrapper"><div class="details-description"> <div class="requirements"><div class="admin-requirements">Version: 8.0-dev</div></div>  <div class="links"><a href="/admin/help/dblog" class="module-link module-link-help" title="Help" id="edit-modules-core-dblog-links-help">Help</a></div></div></div></details>
</td> </tr>
 <tr class="odd"><td class="checkbox"><div class="form-item form-type-checkbox form-item-modules-Core-datetime-enable form-disabled">
 <input disabled="disabled" type="checkbox" id="edit-modules-core-datetime-enable" name="modules[Core][datetime][enable]" value="1" checked="checked" class="form-checkbox" />
</div>
</td><td class="module"><label id="module-datetime" for="edit-modules-core-datetime-enable" class="module-name table-filter-text-source">Datetime</label></td><td class="description expand priority-low"><details id="edit-modules-core-datetime-enable-description" class="form-wrapper"><summary role="button" aria-controls="edit-modules-core-datetime-enable-description"><span class="text"> Defines datetime form elements and a datetime field type.</span></summary><div class="details-wrapper"><div class="details-description"> <div class="requirements"><div class="admin-requirements">Version: 8.0-dev</div><div class="admin-requirements">Requires: Field</div><div class="admin-requirements">Required by: Comment, Forum (<span class="admin-disabled">disabled</span>), Tracker (<span class="admin-disabled">disabled</span>)</div></div></div></div></details>
</td> </tr>
 <tr class="even"><td class="checkbox"><div class="form-item form-type-checkbox form-item-modules-Core-email-enable">
 <input type="checkbox" id="edit-modules-core-email-enable" name="modules[Core][email][enable]" value="1" class="form-checkbox" />
</div>
</td><td class="module"><label id="module-email" for="edit-modules-core-email-enable" class="module-name table-filter-text-source">E-mail</label></td><td class="description expand priority-low"><details id="edit-modules-core-email-enable-description" class="form-wrapper"><summary role="button" aria-controls="edit-modules-core-email-enable-description"><span class="text"> Defines a field type for e-mail addresses.</span></summary><div class="details-wrapper"><div class="details-description"> <div class="requirements"><div class="admin-requirements">Version: 8.0-dev</div><div class="admin-requirements">Requires: Field</div></div></div></div></details>
</td> </tr>
 <tr class="odd"><td class="checkbox"><div class="form-item form-type-checkbox form-item-modules-Core-edit-enable form-disabled">
 <input disabled="disabled" type="checkbox" id="edit-modules-core-edit-enable" name="modules[Core][edit][enable]" value="1" checked="checked" class="form-checkbox" />
</div>
</td><td class="module"><label id="module-edit" for="edit-modules-core-edit-enable" class="module-name table-filter-text-source">Edit</label></td><td class="description expand priority-low"><details id="edit-modules-core-edit-enable-description" class="form-wrapper"><summary role="button" aria-controls="edit-modules-core-edit-enable-description"><span class="text"> In-place content editing.</span></summary><div class="details-wrapper"><div class="details-description"> <div class="requirements"><div class="admin-requirements">Version: 8.0-dev</div><div class="admin-requirements">Requires: Contextual Links, Field</div></div>  <div class="links"><a href="/admin/people/permissions#module-edit" class="module-link module-link-permissions" title="Configure permissions" id="edit-modules-core-edit-links-permissions">Permissions</a></div></div></div></details>
</td> </tr>
 <tr class="even"><td class="checkbox"><div class="form-item form-type-checkbox form-item-modules-Core-entity-enable form-disabled">
 <input disabled="disabled" type="checkbox" id="edit-modules-core-entity-enable" name="modules[Core][entity][enable]" value="1" checked="checked" class="form-checkbox" />
</div>
</td><td class="module"><label id="module-entity" for="edit-modules-core-entity-enable" class="module-name table-filter-text-source">Entity</label></td><td class="description expand priority-low"><details id="edit-modules-core-entity-enable-description" class="form-wrapper"><summary role="button" aria-controls="edit-modules-core-entity-enable-description"><span class="text"> Generic entity functionality.</span></summary><div class="details-wrapper"><div class="details-description"> <div class="requirements"><div class="admin-requirements">Version: 8.0-dev</div><div class="admin-requirements">Required by: Drupal</div></div>  <div class="links"><a href="/admin/people/permissions#module-entity" class="module-link module-link-permissions" title="Configure permissions" id="edit-modules-core-entity-links-permissions">Permissions</a></div></div></div></details>
</td> </tr>
 <tr class="odd"><td class="checkbox"><div class="form-item form-type-checkbox form-item-modules-Core-entity-reference-enable form-disabled">
 <input disabled="disabled" type="checkbox" id="edit-modules-core-entity-reference-enable" name="modules[Core][entity_reference][enable]" value="1" checked="checked" class="form-checkbox" />
</div>
</td><td class="module"><label id="module-entity_reference" for="edit-modules-core-entity-reference-enable" class="module-name table-filter-text-source">Entity Reference</label></td><td class="description expand priority-low"><details id="edit-modules-core-entity-reference-enable-description" class="form-wrapper"><summary role="button" aria-controls="edit-modules-core-entity-reference-enable-description"><span class="text"> Provides a field that can reference other entities.</span></summary><div class="details-wrapper"><div class="details-description"> <div class="requirements"><div class="admin-requirements">Version: 8.0-dev</div><div class="admin-requirements">Requires: Field</div></div></div></div></details>
</td> </tr>
 <tr class="even"><td class="checkbox"><div class="form-item form-type-checkbox form-item-modules-Core-field-enable form-disabled">
 <input disabled="disabled" type="checkbox" id="edit-modules-core-field-enable" name="modules[Core][field][enable]" value="1" checked="checked" class="form-checkbox" />
</div>
</td><td class="module"><label id="module-field" for="edit-modules-core-field-enable" class="module-name table-filter-text-source">Field</label></td><td class="description expand priority-low"><details id="edit-modules-core-field-enable-description" class="form-wrapper"><summary role="button" aria-controls="edit-modules-core-field-enable-description"><span class="text"> Field API to add fields to entities like nodes and users.</span></summary><div class="details-wrapper"><div class="details-description"> <div class="requirements"><div class="admin-requirements">Version: 8.0-dev</div><div class="admin-requirements">Required by: Drupal, File, Aggregator (<span class="admin-disabled">disabled</span>), Text Editor, CKEditor, Datetime, Text, Comment, Interface Translation (<span class="admin-disabled">disabled</span>), Configuration Translation (<span class="admin-disabled">disabled</span>), Custom Block, Edit, E-mail (<span class="admin-disabled">disabled</span>), Entity Reference, Field UI, Number, Options, Taxonomy, Forum (<span class="admin-disabled">disabled</span>), Image, Link (<span class="admin-disabled">disabled</span>), Picture (<span class="admin-disabled">disabled</span>), Telephone (<span class="admin-disabled">disabled</span>), Tracker (<span class="admin-disabled">disabled</span>), Update Manager</div></div>  <div class="links"><a href="/admin/help/field" class="module-link module-link-help" title="Help" id="edit-modules-core-field-links-help">Help</a></div></div></div></details>
</td> </tr>
 <tr class="odd"><td class="checkbox"><div class="form-item form-type-checkbox form-item-modules-Core-field-ui-enable form-disabled">
 <input disabled="disabled" type="checkbox" id="edit-modules-core-field-ui-enable" name="modules[Core][field_ui][enable]" value="1" checked="checked" class="form-checkbox" />
</div>
</td><td class="module"><label id="module-field_ui" for="edit-modules-core-field-ui-enable" class="module-name table-filter-text-source">Field UI</label></td><td class="description expand priority-low"><details id="edit-modules-core-field-ui-enable-description" class="form-wrapper"><summary role="button" aria-controls="edit-modules-core-field-ui-enable-description"><span class="text"> User interface for the Field API.</span></summary><div class="details-wrapper"><div class="details-description"> <div class="requirements"><div class="admin-requirements">Version: 8.0-dev</div><div class="admin-requirements">Requires: Field</div></div>  <div class="links"><a href="/admin/help/field_ui" class="module-link module-link-help" title="Help" id="edit-modules-core-field-ui-links-help">Help</a><a href="/admin/people/permissions#module-field_ui" class="module-link module-link-permissions" title="Configure permissions" id="edit-modules-core-field-ui-links-permissions">Permissions</a></div></div></div></details>
</td> </tr>
 <tr class="even"><td class="checkbox"><div class="form-item form-type-checkbox form-item-modules-Core-file-enable form-disabled">
 <input disabled="disabled" type="checkbox" id="edit-modules-core-file-enable" name="modules[Core][file][enable]" value="1" checked="checked" class="form-checkbox" />
</div>
</td><td class="module"><label id="module-file" for="edit-modules-core-file-enable" class="module-name table-filter-text-source">File</label></td><td class="description expand priority-low"><details id="edit-modules-core-file-enable-description" class="form-wrapper"><summary role="button" aria-controls="edit-modules-core-file-enable-description"><span class="text"> Defines a file field type.</span></summary><div class="details-wrapper"><div class="details-description"> <div class="requirements"><div class="admin-requirements">Version: 8.0-dev</div><div class="admin-requirements">Requires: Field</div><div class="admin-requirements">Required by: Aggregator (<span class="admin-disabled">disabled</span>), Text Editor, CKEditor, Interface Translation (<span class="admin-disabled">disabled</span>), Configuration Translation (<span class="admin-disabled">disabled</span>), Image, Picture (<span class="admin-disabled">disabled</span>), Update Manager</div></div>  <div class="links"><a href="/admin/help/file" class="module-link module-link-help" title="Help" id="edit-modules-core-file-links-help">Help</a><a href="/admin/people/permissions#module-file" class="module-link module-link-permissions" title="Configure permissions" id="edit-modules-core-file-links-permissions">Permissions</a></div></div></div></details>
</td> </tr>
 <tr class="odd"><td class="checkbox"><div class="form-item form-type-checkbox form-item-modules-Core-filter-enable form-disabled">
 <input disabled="disabled" type="checkbox" id="edit-modules-core-filter-enable" name="modules[Core][filter][enable]" value="1" checked="checked" class="form-checkbox" />
</div>
</td><td class="module"><label id="module-filter" for="edit-modules-core-filter-enable" class="module-name table-filter-text-source">Filter</label></td><td class="description expand priority-low"><details id="edit-modules-core-filter-enable-description" class="form-wrapper"><summary role="button" aria-controls="edit-modules-core-filter-enable-description"><span class="text"> Filters content in preparation for display.</span></summary><div class="details-wrapper"><div class="details-description"> <div class="requirements"><div class="admin-requirements">Version: 8.0-dev</div><div class="admin-requirements">Required by: Drupal, Text Editor, CKEditor</div></div>  <div class="links"><a href="/admin/help/filter" class="module-link module-link-help" title="Help" id="edit-modules-core-filter-links-help">Help</a><a href="/admin/people/permissions#module-filter" class="module-link module-link-permissions" title="Configure permissions" id="edit-modules-core-filter-links-permissions">Permissions</a><a href="/admin/config/content/formats" class="module-link module-link-configure" title="Configure how user-contributed content is filtered and formatted, as well as the text editor user interface (WYSIWYGs or toolbars)." id="edit-modules-core-filter-links-configure">Configure</a></div></div></div></details>
</td> </tr>
 <tr class="even"><td class="checkbox"><div class="form-item form-type-checkbox form-item-modules-Core-forum-enable">
 <input type="checkbox" id="edit-modules-core-forum-enable" name="modules[Core][forum][enable]" value="1" class="form-checkbox" />
</div>
</td><td class="module"><label id="module-forum" for="edit-modules-core-forum-enable" class="module-name table-filter-text-source">Forum</label></td><td class="description expand priority-low"><details id="edit-modules-core-forum-enable-description" class="form-wrapper"><summary role="button" aria-controls="edit-modules-core-forum-enable-description"><span class="text"> Provides discussion forums.</span></summary><div class="details-wrapper"><div class="details-description"> <div class="requirements"><div class="admin-requirements">Version: 8.0-dev</div><div class="admin-requirements">Requires: Node, History, Taxonomy, Options, Field, Text, Number, Comment, Datetime</div></div></div></div></details>
</td> </tr>
 <tr class="odd"><td class="checkbox"><div class="form-item form-type-checkbox form-item-modules-Core-help-enable form-disabled">
 <input disabled="disabled" type="checkbox" id="edit-modules-core-help-enable" name="modules[Core][help][enable]" value="1" checked="checked" class="form-checkbox" />
</div>
</td><td class="module"><label id="module-help" for="edit-modules-core-help-enable" class="module-name table-filter-text-source">Help</label></td><td class="description expand priority-low"><details id="edit-modules-core-help-enable-description" class="form-wrapper"><summary role="button" aria-controls="edit-modules-core-help-enable-description"><span class="text"> Manages the display of online help.</span></summary><div class="details-wrapper"><div class="details-description"> <div class="requirements"><div class="admin-requirements">Version: 8.0-dev</div></div>  <div class="links"><a href="/admin/help/help" class="module-link module-link-help" title="Help" id="edit-modules-core-help-links-help">Help</a></div></div></div></details>
</td> </tr>
 <tr class="even"><td class="checkbox"><div class="form-item form-type-checkbox form-item-modules-Core-history-enable form-disabled">
 <input disabled="disabled" type="checkbox" id="edit-modules-core-history-enable" name="modules[Core][history][enable]" value="1" checked="checked" class="form-checkbox" />
</div>
</td><td class="module"><label id="module-history" for="edit-modules-core-history-enable" class="module-name table-filter-text-source">History</label></td><td class="description expand priority-low"><details id="edit-modules-core-history-enable-description" class="form-wrapper"><summary role="button" aria-controls="edit-modules-core-history-enable-description"><span class="text"> Records which user has read which content.</span></summary><div class="details-wrapper"><div class="details-description"> <div class="requirements"><div class="admin-requirements">Version: 8.0-dev</div><div class="admin-requirements">Requires: Node</div><div class="admin-requirements">Required by: Forum (<span class="admin-disabled">disabled</span>)</div></div>  <div class="links"><a href="/admin/help/history" class="module-link module-link-help" title="Help" id="edit-modules-core-history-links-help">Help</a></div></div></div></details>
</td> </tr>
 <tr class="odd"><td class="checkbox"><div class="form-item form-type-checkbox form-item-modules-Core-image-enable form-disabled">
 <input disabled="disabled" type="checkbox" id="edit-modules-core-image-enable" name="modules[Core][image][enable]" value="1" checked="checked" class="form-checkbox" />
</div>
</td><td class="module"><label id="module-image" for="edit-modules-core-image-enable" class="module-name table-filter-text-source">Image</label></td><td class="description expand priority-low"><details id="edit-modules-core-image-enable-description" class="form-wrapper"><summary role="button" aria-controls="edit-modules-core-image-enable-description"><span class="text"> Defines an image field type and provides image manipulation tools.</span></summary><div class="details-wrapper"><div class="details-description"> <div class="requirements"><div class="admin-requirements">Version: 8.0-dev</div><div class="admin-requirements">Requires: File, Field</div><div class="admin-requirements">Required by: Drupal (Field type(s) in use - see <a href="/admin/reports/fields">Field list</a>), Picture (<span class="admin-disabled">disabled</span>)</div></div>  <div class="links"><a href="/admin/help/image" class="module-link module-link-help" title="Help" id="edit-modules-core-image-links-help">Help</a><a href="/admin/people/permissions#module-image" class="module-link module-link-permissions" title="Configure permissions" id="edit-modules-core-image-links-permissions">Permissions</a><a href="/admin/config/media/image-styles" class="module-link module-link-configure" title="Configure styles that can be used for resizing or adjusting images on display." id="edit-modules-core-image-links-configure">Configure</a></div></div></div></details>
</td> </tr>
 <tr class="even"><td class="checkbox"><div class="form-item form-type-checkbox form-item-modules-Core-link-enable">
 <input type="checkbox" id="edit-modules-core-link-enable" name="modules[Core][link][enable]" value="1" class="form-checkbox" />
</div>
</td><td class="module"><label id="module-link" for="edit-modules-core-link-enable" class="module-name table-filter-text-source">Link</label></td><td class="description expand priority-low"><details id="edit-modules-core-link-enable-description" class="form-wrapper"><summary role="button" aria-controls="edit-modules-core-link-enable-description"><span class="text"> Provides a simple link field type.</span></summary><div class="details-wrapper"><div class="details-description"> <div class="requirements"><div class="admin-requirements">Version: 8.0-dev</div><div class="admin-requirements">Requires: Field</div></div></div></div></details>
</td> </tr>
 <tr class="odd"><td class="checkbox"><div class="form-item form-type-checkbox form-item-modules-Core-menu-enable form-disabled">
 <input disabled="disabled" type="checkbox" id="edit-modules-core-menu-enable" name="modules[Core][menu][enable]" value="1" checked="checked" class="form-checkbox" />
</div>
</td><td class="module"><label id="module-menu" for="edit-modules-core-menu-enable" class="module-name table-filter-text-source">Menu</label></td><td class="description expand priority-low"><details id="edit-modules-core-menu-enable-description" class="form-wrapper"><summary role="button" aria-controls="edit-modules-core-menu-enable-description"><span class="text"> Allows administrators to customize the site navigation menu.</span></summary><div class="details-wrapper"><div class="details-description"> <div class="requirements"><div class="admin-requirements">Version: 8.0-dev</div><div class="admin-requirements">Requires: Menu Link</div></div>  <div class="links"><a href="/admin/help/menu" class="module-link module-link-help" title="Help" id="edit-modules-core-menu-links-help">Help</a><a href="/admin/people/permissions#module-menu" class="module-link module-link-permissions" title="Configure permissions" id="edit-modules-core-menu-links-permissions">Permissions</a><a href="/admin/structure/menu" class="module-link module-link-configure" title="Add new menus to your site, edit existing menus, and rename and reorganize menu links." id="edit-modules-core-menu-links-configure">Configure</a></div></div></div></details>
</td> </tr>
 <tr class="even"><td class="checkbox"><div class="form-item form-type-checkbox form-item-modules-Core-menu-link-enable form-disabled">
 <input disabled="disabled" type="checkbox" id="edit-modules-core-menu-link-enable" name="modules[Core][menu_link][enable]" value="1" checked="checked" class="form-checkbox" />
</div>
</td><td class="module"><label id="module-menu_link" for="edit-modules-core-menu-link-enable" class="module-name table-filter-text-source">Menu Link</label></td><td class="description expand priority-low"><details id="edit-modules-core-menu-link-enable-description" class="form-wrapper"><summary role="button" aria-controls="edit-modules-core-menu-link-enable-description"><span class="text"> Provides menu links.</span></summary><div class="details-wrapper"><div class="details-description"> <div class="requirements"><div class="admin-requirements">Version: 8.0-dev</div><div class="admin-requirements">Required by: Drupal, Book (<span class="admin-disabled">disabled</span>), Menu, Shortcut, Toolbar</div></div>  <div class="links"><a href="/admin/help/menu_link" class="module-link module-link-help" title="Help" id="edit-modules-core-menu-link-links-help">Help</a></div></div></div></details>
</td> </tr>
 <tr class="odd"><td class="checkbox"><div class="form-item form-type-checkbox form-item-modules-Core-migrate-enable">
 <input type="checkbox" id="edit-modules-core-migrate-enable" name="modules[Core][migrate][enable]" value="1" class="form-checkbox" />
</div>
</td><td class="module"><label id="module-migrate" for="edit-modules-core-migrate-enable" class="module-name table-filter-text-source">Migrate</label></td><td class="description expand priority-low"><details id="edit-modules-core-migrate-enable-description" class="form-wrapper"><summary role="button" aria-controls="edit-modules-core-migrate-enable-description"><span class="text"> Handles migrations</span></summary><div class="details-wrapper"><div class="details-description"> <div class="requirements"><div class="admin-requirements">Version: 8.0-dev</div></div></div></div></details>
</td> </tr>
 <tr class="even"><td class="checkbox"><div class="form-item form-type-checkbox form-item-modules-Core-node-enable form-disabled">
 <input disabled="disabled" type="checkbox" id="edit-modules-core-node-enable" name="modules[Core][node][enable]" value="1" checked="checked" class="form-checkbox" />
</div>
</td><td class="module"><label id="module-node" for="edit-modules-core-node-enable" class="module-name table-filter-text-source">Node</label></td><td class="description expand priority-low"><details id="edit-modules-core-node-enable-description" class="form-wrapper"><summary role="button" aria-controls="edit-modules-core-node-enable-description"><span class="text"> Allows content to be submitted to the site and displayed on pages.</span></summary><div class="details-wrapper"><div class="details-description"> <div class="requirements"><div class="admin-requirements">Version: 8.0-dev</div><div class="admin-requirements">Required by: Book (<span class="admin-disabled">disabled</span>), History, Forum (<span class="admin-disabled">disabled</span>)</div></div>  <div class="links"><a href="/admin/help/node" class="module-link module-link-help" title="Help" id="edit-modules-core-node-links-help">Help</a><a href="/admin/people/permissions#module-node" class="module-link module-link-permissions" title="Configure permissions" id="edit-modules-core-node-links-permissions">Permissions</a><a href="/admin/structure/types" class="module-link module-link-configure" title="Manage content types, including default status, front page promotion, comment settings, etc." id="edit-modules-core-node-links-configure">Configure</a></div></div></div></details>
</td> </tr>
 <tr class="odd"><td class="checkbox"><div class="form-item form-type-checkbox form-item-modules-Core-number-enable form-disabled">
 <input disabled="disabled" type="checkbox" id="edit-modules-core-number-enable" name="modules[Core][number][enable]" value="1" checked="checked" class="form-checkbox" />
</div>
</td><td class="module"><label id="module-number" for="edit-modules-core-number-enable" class="module-name table-filter-text-source">Number</label></td><td class="description expand priority-low"><details id="edit-modules-core-number-enable-description" class="form-wrapper"><summary role="button" aria-controls="edit-modules-core-number-enable-description"><span class="text"> Defines numeric field types.</span></summary><div class="details-wrapper"><div class="details-description"> <div class="requirements"><div class="admin-requirements">Version: 8.0-dev</div><div class="admin-requirements">Requires: Field</div><div class="admin-requirements">Required by: Options, Taxonomy, Forum (<span class="admin-disabled">disabled</span>)</div></div>  <div class="links"><a href="/admin/help/number" class="module-link module-link-help" title="Help" id="edit-modules-core-number-links-help">Help</a></div></div></div></details>
</td> </tr>
 <tr class="even"><td class="checkbox"><div class="form-item form-type-checkbox form-item-modules-Core-options-enable form-disabled">
 <input disabled="disabled" type="checkbox" id="edit-modules-core-options-enable" name="modules[Core][options][enable]" value="1" checked="checked" class="form-checkbox" />
</div>
</td><td class="module"><label id="module-options" for="edit-modules-core-options-enable" class="module-name table-filter-text-source">Options</label></td><td class="description expand priority-low"><details id="edit-modules-core-options-enable-description" class="form-wrapper"><summary role="button" aria-controls="edit-modules-core-options-enable-description"><span class="text"> Defines selection, check box and radio button widgets for text and numeric fields.</span></summary><div class="details-wrapper"><div class="details-description"> <div class="requirements"><div class="admin-requirements">Version: 8.0-dev</div><div class="admin-requirements">Requires: Field, Text, Number</div><div class="admin-requirements">Required by: Taxonomy, Forum (<span class="admin-disabled">disabled</span>)</div></div>  <div class="links"><a href="/admin/help/options" class="module-link module-link-help" title="Help" id="edit-modules-core-options-links-help">Help</a></div></div></div></details>
</td> </tr>
 <tr class="odd"><td class="checkbox"><div class="form-item form-type-checkbox form-item-modules-Core-overlay-enable">
 <input type="checkbox" id="edit-modules-core-overlay-enable" name="modules[Core][overlay][enable]" value="1" class="form-checkbox" />
</div>
</td><td class="module"><label id="module-overlay" for="edit-modules-core-overlay-enable" class="module-name table-filter-text-source">Overlay</label></td><td class="description expand priority-low"><details id="edit-modules-core-overlay-enable-description" class="form-wrapper"><summary role="button" aria-controls="edit-modules-core-overlay-enable-description"><span class="text"> Displays the Drupal administration interface in an overlay.</span></summary><div class="details-wrapper"><div class="details-description"> <div class="requirements"><div class="admin-requirements">Version: 8.0-dev</div></div></div></div></details>
</td> </tr>
 <tr class="even"><td class="checkbox"><div class="form-item form-type-checkbox form-item-modules-Core-path-enable form-disabled">
 <input disabled="disabled" type="checkbox" id="edit-modules-core-path-enable" name="modules[Core][path][enable]" value="1" checked="checked" class="form-checkbox" />
</div>
</td><td class="module"><label id="module-path" for="edit-modules-core-path-enable" class="module-name table-filter-text-source">Path</label></td><td class="description expand priority-low"><details id="edit-modules-core-path-enable-description" class="form-wrapper"><summary role="button" aria-controls="edit-modules-core-path-enable-description"><span class="text"> Allows users to rename URLs.</span></summary><div class="details-wrapper"><div class="details-description"> <div class="requirements"><div class="admin-requirements">Version: 8.0-dev</div></div>  <div class="links"><a href="/admin/help/path" class="module-link module-link-help" title="Help" id="edit-modules-core-path-links-help">Help</a><a href="/admin/people/permissions#module-path" class="module-link module-link-permissions" title="Configure permissions" id="edit-modules-core-path-links-permissions">Permissions</a><a href="/admin/config/search/path" class="module-link module-link-configure" title="Change your site&#039;s URL paths by aliasing them." id="edit-modules-core-path-links-configure">Configure</a></div></div></div></details>
</td> </tr>
 <tr class="odd"><td class="checkbox"><div class="form-item form-type-checkbox form-item-modules-Core-picture-enable">
 <input type="checkbox" id="edit-modules-core-picture-enable" name="modules[Core][picture][enable]" value="1" class="form-checkbox" />
</div>
</td><td class="module"><label id="module-picture" for="edit-modules-core-picture-enable" class="module-name table-filter-text-source">Picture</label></td><td class="description expand priority-low"><details id="edit-modules-core-picture-enable-description" class="form-wrapper"><summary role="button" aria-controls="edit-modules-core-picture-enable-description"><span class="text"> Provides an image formatter and breakpoint mappings to output responsive images using the HTML5 picture tag.</span></summary><div class="details-wrapper"><div class="details-description"> <div class="requirements"><div class="admin-requirements">Version: 8.0-dev</div><div class="admin-requirements">Requires: Breakpoint, Image, File, Field</div></div></div></div></details>
</td> </tr>
 <tr class="even"><td class="checkbox"><div class="form-item form-type-checkbox form-item-modules-Core-rdf-enable form-disabled">
 <input disabled="disabled" type="checkbox" id="edit-modules-core-rdf-enable" name="modules[Core][rdf][enable]" value="1" checked="checked" class="form-checkbox" />
</div>
</td><td class="module"><label id="module-rdf" for="edit-modules-core-rdf-enable" class="module-name table-filter-text-source">RDF</label></td><td class="description expand priority-low"><details id="edit-modules-core-rdf-enable-description" class="form-wrapper"><summary role="button" aria-controls="edit-modules-core-rdf-enable-description"><span class="text"> Enriches your content with metadata to let other applications (e.g. search engines, aggregators) better understand its relationships and attributes.</span></summary><div class="details-wrapper"><div class="details-description"> <div class="requirements"><div class="admin-requirements">Version: 8.0-dev</div></div>  <div class="links"><a href="/admin/help/rdf" class="module-link module-link-help" title="Help" id="edit-modules-core-rdf-links-help">Help</a></div></div></div></details>
</td> </tr>
 <tr class="odd"><td class="checkbox"><div class="form-item form-type-checkbox form-item-modules-Core-search-enable form-disabled">
 <input disabled="disabled" type="checkbox" id="edit-modules-core-search-enable" name="modules[Core][search][enable]" value="1" checked="checked" class="form-checkbox" />
</div>
</td><td class="module"><label id="module-search" for="edit-modules-core-search-enable" class="module-name table-filter-text-source">Search</label></td><td class="description expand priority-low"><details id="edit-modules-core-search-enable-description" class="form-wrapper"><summary role="button" aria-controls="edit-modules-core-search-enable-description"><span class="text"> Enables site-wide keyword searching.</span></summary><div class="details-wrapper"><div class="details-description"> <div class="requirements"><div class="admin-requirements">Version: 8.0-dev</div></div>  <div class="links"><a href="/admin/help/search" class="module-link module-link-help" title="Help" id="edit-modules-core-search-links-help">Help</a><a href="/admin/people/permissions#module-search" class="module-link module-link-permissions" title="Configure permissions" id="edit-modules-core-search-links-permissions">Permissions</a><a href="/admin/config/search/settings" class="module-link module-link-configure" title="Configure relevance settings for search and other indexing options." id="edit-modules-core-search-links-configure">Configure</a></div></div></div></details>
</td> </tr>
 <tr class="even"><td class="checkbox"><div class="form-item form-type-checkbox form-item-modules-Core-shortcut-enable form-disabled">
 <input disabled="disabled" type="checkbox" id="edit-modules-core-shortcut-enable" name="modules[Core][shortcut][enable]" value="1" checked="checked" class="form-checkbox" />
</div>
</td><td class="module"><label id="module-shortcut" for="edit-modules-core-shortcut-enable" class="module-name table-filter-text-source">Shortcut</label></td><td class="description expand priority-low"><details id="edit-modules-core-shortcut-enable-description" class="form-wrapper"><summary role="button" aria-controls="edit-modules-core-shortcut-enable-description"><span class="text"> Allows users to manage customizable lists of shortcut links.</span></summary><div class="details-wrapper"><div class="details-description"> <div class="requirements"><div class="admin-requirements">Version: 8.0-dev</div><div class="admin-requirements">Requires: Menu Link</div></div>  <div class="links"><a href="/admin/help/shortcut" class="module-link module-link-help" title="Help" id="edit-modules-core-shortcut-links-help">Help</a><a href="/admin/people/permissions#module-shortcut" class="module-link module-link-permissions" title="Configure permissions" id="edit-modules-core-shortcut-links-permissions">Permissions</a><a href="/admin/config/user-interface/shortcut" class="module-link module-link-configure" title="Add and modify shortcut sets." id="edit-modules-core-shortcut-links-configure">Configure</a></div></div></div></details>
</td> </tr>
 <tr class="odd"><td class="checkbox"><div class="form-item form-type-checkbox form-item-modules-Core-statistics-enable">
 <input type="checkbox" id="edit-modules-core-statistics-enable" name="modules[Core][statistics][enable]" value="1" class="form-checkbox" />
</div>
</td><td class="module"><label id="module-statistics" for="edit-modules-core-statistics-enable" class="module-name table-filter-text-source">Statistics</label></td><td class="description expand priority-low"><details id="edit-modules-core-statistics-enable-description" class="form-wrapper"><summary role="button" aria-controls="edit-modules-core-statistics-enable-description"><span class="text"> Logs content statistics for your site.</span></summary><div class="details-wrapper"><div class="details-description"> <div class="requirements"><div class="admin-requirements">Version: 8.0-dev</div></div></div></div></details>
</td> </tr>
 <tr class="even"><td class="checkbox"><div class="form-item form-type-checkbox form-item-modules-Core-syslog-enable">
 <input type="checkbox" id="edit-modules-core-syslog-enable" name="modules[Core][syslog][enable]" value="1" class="form-checkbox" />
</div>
</td><td class="module"><label id="module-syslog" for="edit-modules-core-syslog-enable" class="module-name table-filter-text-source">Syslog</label></td><td class="description expand priority-low"><details id="edit-modules-core-syslog-enable-description" class="form-wrapper"><summary role="button" aria-controls="edit-modules-core-syslog-enable-description"><span class="text"> Logs and records system events to syslog.</span></summary><div class="details-wrapper"><div class="details-description"> <div class="requirements"><div class="admin-requirements">Version: 8.0-dev</div></div></div></div></details>
</td> </tr>
 <tr class="odd"><td class="checkbox"><div class="form-item form-type-checkbox form-item-modules-Core-system-enable form-disabled">
 <input disabled="disabled" type="checkbox" id="edit-modules-core-system-enable" name="modules[Core][system][enable]" value="1" checked="checked" class="form-checkbox" />
</div>
</td><td class="module"><label id="module-system" for="edit-modules-core-system-enable" class="module-name table-filter-text-source">System</label></td><td class="description expand priority-low"><details id="edit-modules-core-system-enable-description" class="form-wrapper"><summary role="button" aria-controls="edit-modules-core-system-enable-description"><span class="text"> Handles general site configuration for administrators.</span></summary><div class="details-wrapper"><div class="details-description"> <div class="requirements"><div class="admin-requirements">Version: 8.0-dev</div><div class="admin-requirements">Required by: Drupal</div></div>  <div class="links"><a href="/admin/help/system" class="module-link module-link-help" title="Help" id="edit-modules-core-system-links-help">Help</a><a href="/admin/people/permissions#module-system" class="module-link module-link-permissions" title="Configure permissions" id="edit-modules-core-system-links-permissions">Permissions</a><a href="/admin/config/system" class="module-link module-link-configure" title="General system related configuration." id="edit-modules-core-system-links-configure">Configure</a></div></div></div></details>
</td> </tr>
 <tr class="even"><td class="checkbox"><div class="form-item form-type-checkbox form-item-modules-Core-taxonomy-enable form-disabled">
 <input disabled="disabled" type="checkbox" id="edit-modules-core-taxonomy-enable" name="modules[Core][taxonomy][enable]" value="1" checked="checked" class="form-checkbox" />
</div>
</td><td class="module"><label id="module-taxonomy" for="edit-modules-core-taxonomy-enable" class="module-name table-filter-text-source">Taxonomy</label></td><td class="description expand priority-low"><details id="edit-modules-core-taxonomy-enable-description" class="form-wrapper"><summary role="button" aria-controls="edit-modules-core-taxonomy-enable-description"><span class="text"> Enables the categorization of content.</span></summary><div class="details-wrapper"><div class="details-description"> <div class="requirements"><div class="admin-requirements">Version: 8.0-dev</div><div class="admin-requirements">Requires: Options, Field, Text, Number</div><div class="admin-requirements">Required by: Drupal (Field type(s) in use - see <a href="/admin/reports/fields">Field list</a>), Forum (<span class="admin-disabled">disabled</span>)</div></div>  <div class="links"><a href="/admin/help/taxonomy" class="module-link module-link-help" title="Help" id="edit-modules-core-taxonomy-links-help">Help</a><a href="/admin/people/permissions#module-taxonomy" class="module-link module-link-permissions" title="Configure permissions" id="edit-modules-core-taxonomy-links-permissions">Permissions</a><a href="/admin/structure/taxonomy" class="module-link module-link-configure" title="Manage tagging, categorization, and classification of your content." id="edit-modules-core-taxonomy-links-configure">Configure</a></div></div></div></details>
</td> </tr>
 <tr class="odd"><td class="checkbox"><div class="form-item form-type-checkbox form-item-modules-Core-telephone-enable">
 <input type="checkbox" id="edit-modules-core-telephone-enable" name="modules[Core][telephone][enable]" value="1" class="form-checkbox" />
</div>
</td><td class="module"><label id="module-telephone" for="edit-modules-core-telephone-enable" class="module-name table-filter-text-source">Telephone</label></td><td class="description expand priority-low"><details id="edit-modules-core-telephone-enable-description" class="form-wrapper"><summary role="button" aria-controls="edit-modules-core-telephone-enable-description"><span class="text"> Defines a field type for telephone numbers.</span></summary><div class="details-wrapper"><div class="details-description"> <div class="requirements"><div class="admin-requirements">Version: 8.0-dev</div><div class="admin-requirements">Requires: Field</div></div></div></div></details>
</td> </tr>
 <tr class="even"><td class="checkbox"><div class="form-item form-type-checkbox form-item-modules-Core-simpletest-enable">
 <input type="checkbox" id="edit-modules-core-simpletest-enable" name="modules[Core][simpletest][enable]" value="1" class="form-checkbox" />
</div>
</td><td class="module"><label id="module-simpletest" for="edit-modules-core-simpletest-enable" class="module-name table-filter-text-source">Testing</label></td><td class="description expand priority-low"><details id="edit-modules-core-simpletest-enable-description" class="form-wrapper"><summary role="button" aria-controls="edit-modules-core-simpletest-enable-description"><span class="text"> Provides a framework for unit and functional testing.</span></summary><div class="details-wrapper"><div class="details-description"> <div class="requirements"><div class="admin-requirements">Version: 8.0-dev</div></div></div></div></details>
</td> </tr>
 <tr class="odd"><td class="checkbox"><div class="form-item form-type-checkbox form-item-modules-Core-text-enable form-disabled">
 <input disabled="disabled" type="checkbox" id="edit-modules-core-text-enable" name="modules[Core][text][enable]" value="1" checked="checked" class="form-checkbox" />
</div>
</td><td class="module"><label id="module-text" for="edit-modules-core-text-enable" class="module-name table-filter-text-source">Text</label></td><td class="description expand priority-low"><details id="edit-modules-core-text-enable-description" class="form-wrapper"><summary role="button" aria-controls="edit-modules-core-text-enable-description"><span class="text"> Defines simple text field types.</span></summary><div class="details-wrapper"><div class="details-description"> <div class="requirements"><div class="admin-requirements">Version: 8.0-dev</div><div class="admin-requirements">Requires: Field</div><div class="admin-requirements">Required by: Drupal (Field type(s) in use - see <a href="/admin/reports/fields">Field list</a>), Comment, Custom Block, Options, Taxonomy, Forum (<span class="admin-disabled">disabled</span>), Tracker (<span class="admin-disabled">disabled</span>)</div></div>  <div class="links"><a href="/admin/help/text" class="module-link module-link-help" title="Help" id="edit-modules-core-text-links-help">Help</a></div></div></div></details>
</td> </tr>
 <tr class="even"><td class="checkbox"><div class="form-item form-type-checkbox form-item-modules-Core-editor-enable form-disabled">
 <input disabled="disabled" type="checkbox" id="edit-modules-core-editor-enable" name="modules[Core][editor][enable]" value="1" checked="checked" class="form-checkbox" />
</div>
</td><td class="module"><label id="module-editor" for="edit-modules-core-editor-enable" class="module-name table-filter-text-source">Text Editor</label></td><td class="description expand priority-low"><details id="edit-modules-core-editor-enable-description" class="form-wrapper"><summary role="button" aria-controls="edit-modules-core-editor-enable-description"><span class="text"> Provides a means to associate text formats with text editor libraries such as WYSIWYGs or toolbars.</span></summary><div class="details-wrapper"><div class="details-description"> <div class="requirements"><div class="admin-requirements">Version: 8.0-dev</div><div class="admin-requirements">Requires: Filter, File, Field</div><div class="admin-requirements">Required by: CKEditor</div></div>  <div class="links"><a href="/admin/help/editor" class="module-link module-link-help" title="Help" id="edit-modules-core-editor-links-help">Help</a><a href="/admin/config/content/formats" class="module-link module-link-configure" title="Configure how user-contributed content is filtered and formatted, as well as the text editor user interface (WYSIWYGs or toolbars)." id="edit-modules-core-editor-links-configure">Configure</a></div></div></div></details>
</td> </tr>
 <tr class="odd"><td class="checkbox"><div class="form-item form-type-checkbox form-item-modules-Core-toolbar-enable form-disabled">
 <input disabled="disabled" type="checkbox" id="edit-modules-core-toolbar-enable" name="modules[Core][toolbar][enable]" value="1" checked="checked" class="form-checkbox" />
</div>
</td><td class="module"><label id="module-toolbar" for="edit-modules-core-toolbar-enable" class="module-name table-filter-text-source">Toolbar</label></td><td class="description expand priority-low"><details id="edit-modules-core-toolbar-enable-description" class="form-wrapper"><summary role="button" aria-controls="edit-modules-core-toolbar-enable-description"><span class="text"> Provides a toolbar that shows the top-level administration menu items and links from other modules.</span></summary><div class="details-wrapper"><div class="details-description"> <div class="requirements"><div class="admin-requirements">Version: 8.0-dev</div><div class="admin-requirements">Requires: Breakpoint, Menu Link</div></div>  <div class="links"><a href="/admin/help/toolbar" class="module-link module-link-help" title="Help" id="edit-modules-core-toolbar-links-help">Help</a><a href="/admin/people/permissions#module-toolbar" class="module-link module-link-permissions" title="Configure permissions" id="edit-modules-core-toolbar-links-permissions">Permissions</a></div></div></div></details>
</td> </tr>
 <tr class="even"><td class="checkbox"><div class="form-item form-type-checkbox form-item-modules-Core-tour-enable form-disabled">
 <input disabled="disabled" type="checkbox" id="edit-modules-core-tour-enable" name="modules[Core][tour][enable]" value="1" checked="checked" class="form-checkbox" />
</div>
</td><td class="module"><label id="module-tour" for="edit-modules-core-tour-enable" class="module-name table-filter-text-source">Tour</label></td><td class="description expand priority-low"><details id="edit-modules-core-tour-enable-description" class="form-wrapper"><summary role="button" aria-controls="edit-modules-core-tour-enable-description"><span class="text"> Provides guided tours.</span></summary><div class="details-wrapper"><div class="details-description"> <div class="requirements"><div class="admin-requirements">Version: 8.0-dev</div></div>  <div class="links"><a href="/admin/people/permissions#module-tour" class="module-link module-link-permissions" title="Configure permissions" id="edit-modules-core-tour-links-permissions">Permissions</a></div></div></div></details>
</td> </tr>
 <tr class="odd"><td class="checkbox"><div class="form-item form-type-checkbox form-item-modules-Core-tracker-enable">
 <input type="checkbox" id="edit-modules-core-tracker-enable" name="modules[Core][tracker][enable]" value="1" class="form-checkbox" />
</div>
</td><td class="module"><label id="module-tracker" for="edit-modules-core-tracker-enable" class="module-name table-filter-text-source">Tracker</label></td><td class="description expand priority-low"><details id="edit-modules-core-tracker-enable-description" class="form-wrapper"><summary role="button" aria-controls="edit-modules-core-tracker-enable-description"><span class="text"> Enables tracking of recent content for users.</span></summary><div class="details-wrapper"><div class="details-description"> <div class="requirements"><div class="admin-requirements">Version: 8.0-dev</div><div class="admin-requirements">Requires: Comment, Datetime, Field, Text</div></div></div></div></details>
</td> </tr>
 <tr class="even"><td class="checkbox"><div class="form-item form-type-checkbox form-item-modules-Core-update-enable form-disabled">
 <input disabled="disabled" type="checkbox" id="edit-modules-core-update-enable" name="modules[Core][update][enable]" value="1" checked="checked" class="form-checkbox" />
</div>
</td><td class="module"><label id="module-update" for="edit-modules-core-update-enable" class="module-name table-filter-text-source">Update Manager</label></td><td class="description expand priority-low"><details id="edit-modules-core-update-enable-description" class="form-wrapper"><summary role="button" aria-controls="edit-modules-core-update-enable-description"><span class="text"> Checks for available updates, and can securely install or update modules and themes via a web interface.</span></summary><div class="details-wrapper"><div class="details-description"> <div class="requirements"><div class="admin-requirements">Version: 8.0-dev</div><div class="admin-requirements">Requires: File, Field</div></div>  <div class="links"><a href="/admin/help/update" class="module-link module-link-help" title="Help" id="edit-modules-core-update-links-help">Help</a><a href="/admin/reports/updates/settings" class="module-link module-link-configure" title="Get a status report about available updates for your installed modules and themes." id="edit-modules-core-update-links-configure">Configure</a></div></div></div></details>
</td> </tr>
 <tr class="odd"><td class="checkbox"><div class="form-item form-type-checkbox form-item-modules-Core-user-enable form-disabled">
 <input disabled="disabled" type="checkbox" id="edit-modules-core-user-enable" name="modules[Core][user][enable]" value="1" checked="checked" class="form-checkbox" />
</div>
</td><td class="module"><label id="module-user" for="edit-modules-core-user-enable" class="module-name table-filter-text-source">User</label></td><td class="description expand priority-low"><details id="edit-modules-core-user-enable-description" class="form-wrapper"><summary role="button" aria-controls="edit-modules-core-user-enable-description"><span class="text"> Manages the user registration and login system.</span></summary><div class="details-wrapper"><div class="details-description"> <div class="requirements"><div class="admin-requirements">Version: 8.0-dev</div><div class="admin-requirements">Required by: Drupal</div></div>  <div class="links"><a href="/admin/help/user" class="module-link module-link-help" title="Help" id="edit-modules-core-user-links-help">Help</a><a href="/admin/people/permissions#module-user" class="module-link module-link-permissions" title="Configure permissions" id="edit-modules-core-user-links-permissions">Permissions</a><a href="/admin/config/people" class="module-link module-link-configure" title="Configure user accounts." id="edit-modules-core-user-links-configure">Configure</a></div></div></div></details>
</td> </tr>
 <tr class="even"><td class="checkbox"><div class="form-item form-type-checkbox form-item-modules-Core-views-enable form-disabled">
 <input disabled="disabled" type="checkbox" id="edit-modules-core-views-enable" name="modules[Core][views][enable]" value="1" checked="checked" class="form-checkbox" />
</div>
</td><td class="module"><label id="module-views" for="edit-modules-core-views-enable" class="module-name table-filter-text-source">Views</label></td><td class="description expand priority-low"><details id="edit-modules-core-views-enable-description" class="form-wrapper"><summary role="button" aria-controls="edit-modules-core-views-enable-description"><span class="text"> Create customized lists and queries from your database.</span></summary><div class="details-wrapper"><div class="details-description"> <div class="requirements"><div class="admin-requirements">Version: 8.0-dev</div><div class="admin-requirements">Required by: Views UI</div></div>  <div class="links"><a href="/admin/people/permissions#module-views" class="module-link module-link-permissions" title="Configure permissions" id="edit-modules-core-views-links-permissions">Permissions</a></div></div></div></details>
</td> </tr>
 <tr class="odd"><td class="checkbox"><div class="form-item form-type-checkbox form-item-modules-Core-views-ui-enable form-disabled">
 <input disabled="disabled" type="checkbox" id="edit-modules-core-views-ui-enable" name="modules[Core][views_ui][enable]" value="1" checked="checked" class="form-checkbox" />
</div>
</td><td class="module"><label id="module-views_ui" for="edit-modules-core-views-ui-enable" class="module-name table-filter-text-source">Views UI</label></td><td class="description expand priority-low"><details id="edit-modules-core-views-ui-enable-description" class="form-wrapper"><summary role="button" aria-controls="edit-modules-core-views-ui-enable-description"><span class="text"> Administrative interface for Views.</span></summary><div class="details-wrapper"><div class="details-description"> <div class="requirements"><div class="admin-requirements">Version: 8.0-dev</div><div class="admin-requirements">Requires: Views</div></div>  <div class="links"><a href="/admin/people/permissions#module-views_ui" class="module-link module-link-permissions" title="Configure permissions" id="edit-modules-core-views-ui-links-permissions">Permissions</a><a href="/admin/structure/views" class="module-link module-link-configure" title="Manage customized lists of content." id="edit-modules-core-views-ui-links-configure">Configure</a></div></div></div></details>
</td> </tr>
 <tr class="even"><td class="checkbox"><div class="form-item form-type-checkbox form-item-modules-Core-xmlrpc-enable">
 <input type="checkbox" id="edit-modules-core-xmlrpc-enable" name="modules[Core][xmlrpc][enable]" value="1" class="form-checkbox" />
</div>
</td><td class="module"><label id="module-xmlrpc" for="edit-modules-core-xmlrpc-enable" class="module-name table-filter-text-source">XML-RPC</label></td><td class="description expand priority-low"><details id="edit-modules-core-xmlrpc-enable-description" class="form-wrapper"><summary role="button" aria-controls="edit-modules-core-xmlrpc-enable-description"><span class="text"> Provides XML-RPC functionality.</span></summary><div class="details-wrapper"><div class="details-description"> <div class="requirements"><div class="admin-requirements">Version: 8.0-dev</div></div></div></div></details>
</td> </tr>
</tbody>
</table>
</div></details>
<details class="package-listing form-wrapper" open="open" id="edit-modules-multilingual"><summary role="button" aria-controls="edit-modules-multilingual" aria-expanded>Multilingual</summary><div class="details-wrapper"><table class="responsive-enabled">
 <thead><tr><th class="checkbox"><span class="visually-hidden">Installed</span></th><th class="name">Name</th><th class="description priority-low">Description</th> </tr></thead>
<tbody>
 <tr class="odd"><td class="checkbox"><div class="form-item form-type-checkbox form-item-modules-Multilingual-config-translation-enable">
 <input type="checkbox" id="edit-modules-multilingual-config-translation-enable" name="modules[Multilingual][config_translation][enable]" value="1" class="form-checkbox" />
</div>
</td><td class="module"><label id="module-config_translation" for="edit-modules-multilingual-config-translation-enable" class="module-name table-filter-text-source">Configuration Translation</label></td><td class="description expand priority-low"><details id="edit-modules-multilingual-config-translation-enable-description" class="form-wrapper"><summary role="button" aria-controls="edit-modules-multilingual-config-translation-enable-description"><span class="text"> Provides a translation interface for configuration.</span></summary><div class="details-wrapper"><div class="details-description"> <div class="requirements"><div class="admin-requirements">Version: 8.0-dev</div><div class="admin-requirements">Requires: Interface Translation (<span class="admin-disabled">disabled</span>), Language (<span class="admin-disabled">disabled</span>), File, Field</div></div></div></div></details>
</td> </tr>
 <tr class="even"><td class="checkbox"><div class="form-item form-type-checkbox form-item-modules-Multilingual-content-translation-enable">
 <input type="checkbox" id="edit-modules-multilingual-content-translation-enable" name="modules[Multilingual][content_translation][enable]" value="1" class="form-checkbox" />
</div>
</td><td class="module"><label id="module-content_translation" for="edit-modules-multilingual-content-translation-enable" class="module-name table-filter-text-source">Content Translation</label></td><td class="description expand priority-low"><details id="edit-modules-multilingual-content-translation-enable-description" class="form-wrapper"><summary role="button" aria-controls="edit-modules-multilingual-content-translation-enable-description"><span class="text"> Allows users to translate content entities.</span></summary><div class="details-wrapper"><div class="details-description"> <div class="requirements"><div class="admin-requirements">Version: 8.0-dev</div><div class="admin-requirements">Requires: Language (<span class="admin-disabled">disabled</span>)</div></div></div></div></details>
</td> </tr>
 <tr class="odd"><td class="checkbox"><div class="form-item form-type-checkbox form-item-modules-Multilingual-locale-enable">
 <input type="checkbox" id="edit-modules-multilingual-locale-enable" name="modules[Multilingual][locale][enable]" value="1" class="form-checkbox" />
</div>
</td><td class="module"><label id="module-locale" for="edit-modules-multilingual-locale-enable" class="module-name table-filter-text-source">Interface Translation</label></td><td class="description expand priority-low"><details id="edit-modules-multilingual-locale-enable-description" class="form-wrapper"><summary role="button" aria-controls="edit-modules-multilingual-locale-enable-description"><span class="text"> Translates the built-in user interface.</span></summary><div class="details-wrapper"><div class="details-description"> <div class="requirements"><div class="admin-requirements">Version: 8.0-dev</div><div class="admin-requirements">Requires: Language (<span class="admin-disabled">disabled</span>), File, Field</div><div class="admin-requirements">Required by: Configuration Translation (<span class="admin-disabled">disabled</span>)</div></div></div></div></details>
</td> </tr>
 <tr class="even"><td class="checkbox"><div class="form-item form-type-checkbox form-item-modules-Multilingual-language-enable">
 <input type="checkbox" id="edit-modules-multilingual-language-enable" name="modules[Multilingual][language][enable]" value="1" class="form-checkbox" />
</div>
</td><td class="module"><label id="module-language" for="edit-modules-multilingual-language-enable" class="module-name table-filter-text-source">Language</label></td><td class="description expand priority-low"><details id="edit-modules-multilingual-language-enable-description" class="form-wrapper"><summary role="button" aria-controls="edit-modules-multilingual-language-enable-description"><span class="text"> Allows users to configure languages and apply them to content.</span></summary><div class="details-wrapper"><div class="details-description"> <div class="requirements"><div class="admin-requirements">Version: 8.0-dev</div><div class="admin-requirements">Required by: Interface Translation (<span class="admin-disabled">disabled</span>), Configuration Translation (<span class="admin-disabled">disabled</span>), Content Translation (<span class="admin-disabled">disabled</span>)</div></div></div></div></details>
</td> </tr>
</tbody>
</table>
</div></details>
<details class="package-listing form-wrapper" open="open" id="edit-modules-web-services"><summary role="button" aria-controls="edit-modules-web-services" aria-expanded>Web services</summary><div class="details-wrapper"><table class="responsive-enabled">
 <thead><tr><th class="checkbox"><span class="visually-hidden">Installed</span></th><th class="name">Name</th><th class="description priority-low">Description</th> </tr></thead>
<tbody>
 <tr class="odd"><td class="checkbox"><div class="form-item form-type-checkbox form-item-modules-Web-services-hal-enable">
 <input type="checkbox" id="edit-modules-web-services-hal-enable" name="modules[Web services][hal][enable]" value="1" class="form-checkbox" />
</div>
</td><td class="module"><label id="module-hal" for="edit-modules-web-services-hal-enable" class="module-name table-filter-text-source">HAL</label></td><td class="description expand priority-low"><details id="edit-modules-web-services-hal-enable-description" class="form-wrapper"><summary role="button" aria-controls="edit-modules-web-services-hal-enable-description"><span class="text"> Serializes entities using Hypertext Application Language.</span></summary><div class="details-wrapper"><div class="details-description"> <div class="requirements"><div class="admin-requirements">Version: 8.0-dev</div><div class="admin-requirements">Requires: RESTful Web Services (<span class="admin-disabled">disabled</span>), Serialization (<span class="admin-disabled">disabled</span>)</div></div></div></div></details>
</td> </tr>
 <tr class="even"><td class="checkbox"><div class="form-item form-type-checkbox form-item-modules-Web-services-basic-auth-enable">
 <input type="checkbox" id="edit-modules-web-services-basic-auth-enable" name="modules[Web services][basic_auth][enable]" value="1" class="form-checkbox" />
</div>
</td><td class="module"><label id="module-basic_auth" for="edit-modules-web-services-basic-auth-enable" class="module-name table-filter-text-source">HTTP Basic Authentication</label></td><td class="description expand priority-low"><details id="edit-modules-web-services-basic-auth-enable-description" class="form-wrapper"><summary role="button" aria-controls="edit-modules-web-services-basic-auth-enable-description"><span class="text"> Provides the HTTP Basic authentication provider</span></summary><div class="details-wrapper"><div class="details-description"> <div class="requirements"><div class="admin-requirements">Version: 8.0-dev</div></div></div></div></details>
</td> </tr>
 <tr class="odd"><td class="checkbox"><div class="form-item form-type-checkbox form-item-modules-Web-services-rest-enable">
 <input type="checkbox" id="edit-modules-web-services-rest-enable" name="modules[Web services][rest][enable]" value="1" class="form-checkbox" />
</div>
</td><td class="module"><label id="module-rest" for="edit-modules-web-services-rest-enable" class="module-name table-filter-text-source">RESTful Web Services</label></td><td class="description expand priority-low"><details id="edit-modules-web-services-rest-enable-description" class="form-wrapper"><summary role="button" aria-controls="edit-modules-web-services-rest-enable-description"><span class="text"> Exposes entities and other resources as RESTful web API</span></summary><div class="details-wrapper"><div class="details-description"> <div class="requirements"><div class="admin-requirements">Version: 8.0-dev</div><div class="admin-requirements">Requires: Serialization (<span class="admin-disabled">disabled</span>)</div><div class="admin-requirements">Required by: HAL (<span class="admin-disabled">disabled</span>)</div></div></div></div></details>
</td> </tr>
 <tr class="even"><td class="checkbox"><div class="form-item form-type-checkbox form-item-modules-Web-services-serialization-enable">
 <input type="checkbox" id="edit-modules-web-services-serialization-enable" name="modules[Web services][serialization][enable]" value="1" class="form-checkbox" />
</div>
</td><td class="module"><label id="module-serialization" for="edit-modules-web-services-serialization-enable" class="module-name table-filter-text-source">Serialization</label></td><td class="description expand priority-low"><details id="edit-modules-web-services-serialization-enable-description" class="form-wrapper"><summary role="button" aria-controls="edit-modules-web-services-serialization-enable-description"><span class="text"> Provides a service for (de)serializing data to/from formats such as JSON and XML</span></summary><div class="details-wrapper"><div class="details-description"> <div class="requirements"><div class="admin-requirements">Version: 8.0-dev</div><div class="admin-requirements">Required by: RESTful Web Services (<span class="admin-disabled">disabled</span>), HAL (<span class="admin-disabled">disabled</span>)</div></div></div></div></details>
</td> </tr>
</tbody>
</table>
</div></details>
<input type="hidden" name="form_build_id" value="form-OHJ0PrXi6JF2oQcOfHhmAIJPIOX0BKhkkWE6-BrrOMU" /><input type="hidden" name="form_token" value="G_d2IRlCb5WdsXgaNV96D5Uee050JFiYu8kW1VVHhu8" /><input type="hidden" name="form_id" value="system_modules" /><div class="form-actions form-wrapper" id="edit-actions"><input type="submit" id="edit-submit" name="op" value="Save configuration" class="button form-submit" /></div></div></form>
  </div>
</div>

  </div>

    </main>

    <footer id="footer" role="contentinfo">
      
    </footer>

  </div>

{% endblock %}
