
{% block content %}
    <header id="branding" class="clearfix">
      <nav class="breadcrumb" role="navigation">
    <h2 class="visually-hidden">You are here</h2>
    <ol>
          <li><a href="/">Home</a></li>
          <li><a href="/admin">Administration</a></li>
        </ol>
  </nav>

    
          <h1 class="page-title">People</h1>
        <div class="add-or-remove-shortcuts add-shortcut"><a href="/admin/config/user-interface/shortcut/manage/default/add-link-inline?token=xjOUvglIrGTYa3EXJaF366kr5Qk7el2uhigqnqZTVZQ&amp;link=admin%2Fpeople&amp;name=People&amp;destination=admin%2Fpeople"><span class="icon">Add or remove shortcut</span><span class="text">Add to <em class="placeholder">Default</em> shortcuts</span></a></div>
          <h2 class="visually-hidden">Primary tabs</h2><ul class="tabs primary"><li class="active"><a href="/admin/people" class="active">List<span class="visually-hidden">(active tab)</span></a></li><li><a href="/admin/people/permissions">Permissions</a></li></ul>
      </header>

  <div id="page">
          <div class="tabs-secondary clearfix" role="navigation"></div>
    
    <main id="content" class="clearfix" role="main">
      <div class="visually-hidden"><a id="main-content"></a></div>
              <div id="console" class="clearfix"></div>
                          <ul class="action-links">
          <li><a href="/admin/people/create" class="button button-action">Add user</a></li>
        </ul>
              <div class="region region-content">
    <div class="block block-system" id="block-seven-content">
  
    

  <div class="content">
    <div class="view view-user-admin-people view-id-user_admin_people view-display-id-page_1 view-dom-id-e102fce359428a53a1d6ab101fea856391e2a474770d34a37dbcbcd214ec675c">
  
    
        <div class="view-filters">
      <form class="views-exposed-form" action="/admin/people" method="get" id="views-exposed-form-user-admin-people-page-1" accept-charset="UTF-8"><div><div class="views-exposed-form clearfix">
  <div class="form-item form-type-textfield form-item-user">
 <label for="edit-user">Name or e-mail contains</label> <input type="text" id="edit-user" name="user" value="" size="30" maxlength="128" class="form-text" />
</div>
<div class="form-item form-type-select form-item-role">
 <label for="edit-role">Role</label> <select id="edit-role" name="role" class="form-select"><option value="All" selected="selected">- Any -</option><option value="administrator">Administrator</option></select>
</div>
<div class="form-item form-type-select form-item-permission">
 <label for="edit-permission">Permission</label> <select id="edit-permission" name="permission" class="form-select"><option value="All" selected="selected">- Any -</option><optgroup label="Block"><option value="administer blocks">Administer blocks</option></optgroup><optgroup label="Comment"><option value="administer comments">Administer comments and comment settings</option><option value="access comments">View comments</option><option value="post comments">Post comments</option><option value="skip comment approval">Skip comment approval</option><option value="edit own comments">Edit own comments</option></optgroup><optgroup label="Configuration Manager"><option value="synchronize configuration">Synchronize configuration</option><option value="export configuration">Export configuration</option><option value="import configuration">Import configuration</option></optgroup><optgroup label="Contact"><option value="administer contact forms">Administer contact forms and contact form settings</option><option value="access site-wide contact form">Use the site-wide contact form</option><option value="access user contact forms">Use users&#039; personal contact forms</option></optgroup><optgroup label="Contextual Links"><option value="access contextual links">Use contextual links</option></optgroup><optgroup label="Edit"><option value="access in-place editing">Access in-place editing</option></optgroup><optgroup label="Entity"><option value="administer display modes">Add, edit, and delete custom display modes.</option></optgroup><optgroup label="Field UI"><option value="administer comment fields">Comment: Administer fields</option><option value="administer comment form display">Comment: Administer form display</option><option value="administer comment display">Comment: Administer display</option><option value="administer contact_message fields">Contact message: Administer fields</option><option value="administer contact_message form display">Contact message: Administer form display</option><option value="administer contact_message display">Contact message: Administer display</option><option value="administer custom_block fields">Custom Block: Administer fields</option><option value="administer custom_block form display">Custom Block: Administer form display</option><option value="administer custom_block display">Custom Block: Administer display</option><option value="administer node fields">Content: Administer fields</option><option value="administer node form display">Content: Administer form display</option><option value="administer node display">Content: Administer display</option><option value="administer taxonomy_term fields">Taxonomy term: Administer fields</option><option value="administer taxonomy_term form display">Taxonomy term: Administer form display</option><option value="administer taxonomy_term display">Taxonomy term: Administer display</option><option value="administer user fields">User: Administer fields</option><option value="administer user form display">User: Administer form display</option><option value="administer user display">User: Administer display</option></optgroup><optgroup label="File"><option value="access files overview">Access the Files overview page</option></optgroup><optgroup label="Filter"><option value="administer filters">Administer text formats and filters</option><option value="use text format basic_html">Use the Basic HTML text format</option><option value="use text format restricted_html">Use the Restricted HTML text format</option><option value="use text format full_html">Use the Full HTML text format</option></optgroup><optgroup label="Image"><option value="administer image styles">Administer image styles</option></optgroup><optgroup label="Menu"><option value="administer menu">Administer menus and menu items</option></optgroup><optgroup label="Node"><option value="bypass node access">Bypass content access control</option><option value="administer content types">Administer content types</option><option value="administer nodes">Administer content</option><option value="access content overview">Access the Content overview page</option><option value="access content">View published content</option><option value="view own unpublished content">View own unpublished content</option><option value="view all revisions">View all revisions</option><option value="revert all revisions">Revert all revisions</option><option value="delete all revisions">Delete all revisions</option><option value="create article content">Article: Create new content</option><option value="edit own article content">Article: Edit own content</option><option value="edit any article content">Article: Edit any content</option><option value="delete own article content">Article: Delete own content</option><option value="delete any article content">Article: Delete any content</option><option value="view article revisions">Article: View revisions</option><option value="revert article revisions">Article: Revert revisions</option><option value="delete article revisions">Article: Delete revisions</option><option value="create page content">Basic page: Create new content</option><option value="edit own page content">Basic page: Edit own content</option><option value="edit any page content">Basic page: Edit any content</option><option value="delete own page content">Basic page: Delete own content</option><option value="delete any page content">Basic page: Delete any content</option><option value="view page revisions">Basic page: View revisions</option><option value="revert page revisions">Basic page: Revert revisions</option><option value="delete page revisions">Basic page: Delete revisions</option></optgroup><optgroup label="Path"><option value="administer url aliases">Administer URL aliases</option><option value="create url aliases">Create and edit URL aliases</option></optgroup><optgroup label="Search"><option value="administer search">Administer search</option><option value="search content">Use search</option><option value="use advanced search">Use advanced search</option></optgroup><optgroup label="Shortcut"><option value="administer shortcuts">Administer shortcuts</option><option value="customize shortcut links">Edit current shortcut set</option><option value="switch shortcut sets">Select any shortcut set</option></optgroup><optgroup label="System"><option value="administer modules">Administer modules</option><option value="administer site configuration">Administer site configuration</option><option value="administer themes">Administer themes</option><option value="administer software updates">Administer software updates</option><option value="access administration pages">Use the administration pages and help</option><option value="access site in maintenance mode">Use the site in maintenance mode</option><option value="view the administration theme">View the administration theme</option><option value="access site reports">View site reports</option></optgroup><optgroup label="Taxonomy"><option value="administer taxonomy">Administer vocabularies and terms</option><option value="edit terms in tags">Edit terms in Tags</option><option value="delete terms in tags">Delete terms from Tags</option></optgroup><optgroup label="Toolbar"><option value="access toolbar">Use the administration toolbar</option></optgroup><optgroup label="Tour"><option value="access tour">Access tour</option></optgroup><optgroup label="User"><option value="administer permissions">Administer permissions</option><option value="administer account settings">Administer account settings</option><option value="administer users">Administer users</option><option value="access user profiles">View user profiles</option><option value="change own username">Change own username</option><option value="cancel account">Cancel own user account</option><option value="select account cancellation method">Select method for cancelling own account</option></optgroup><optgroup label="Views"><option value="access all views">Bypass views access control</option></optgroup><optgroup label="Views UI"><option value="administer views">Administer views</option></optgroup></select>
</div>
<div class="form-item form-type-select form-item-status">
 <label for="edit-status">Status</label> <select id="edit-status" name="status" class="form-select"><option value="All" selected="selected">- Any -</option><option value="1">Active</option><option value="2">Blocked</option></select>
</div>
<div class="form-actions form-wrapper" id="edit-actions"><input type="submit" id="edit-submit-user-admin-people" name="" value="Apply" class="button form-submit" /></div>
</div>
</div></form>
    </div>
    
      <div class="view-content">
      <div class="views-form"><form action="/admin/people" method="post" id="views-form-user-admin-people-page-1" accept-charset="UTF-8"><div><form action="/admin/people" method="post" id="views-form-user-admin-people-page-1" accept-charset="UTF-8"><div><div id="edit-header" class="form-wrapper"><div id="edit-user-bulk-form--2" class="form-wrapper"><div class="form-item form-type-select form-item-action">
 <label for="edit-action">With selection</label> <select id="edit-action" name="action" class="form-select"><option value="user_add_role_action.administrator">Add the Administrator role to the selected users</option><option value="user_block_user_action">Block the selected user(s)</option><option value="user_cancel_user_action">Cancel the selected user account(s)</option><option value="user_remove_role_action.administrator">Remove the Administrator role from the selected users</option><option value="user_unblock_user_action">Unblock the selected user(s)</option></select>
</div>
<div class="form-actions form-wrapper" id="edit-actions--2"><input type="submit" id="edit-submit--2" name="op" value="Apply" class="button form-submit" /></div></div></div><input type="hidden" name="form_build_id" value="form-CaPGm3Va7-gnudgJpA3ChrzGPy7XT7BNj_OhSNT2kaU" /><input type="hidden" name="form_token" value="8fj9194vVYm-RliQBHdXVRit9exa44jQlvRWoa-jOrc" /><input type="hidden" name="form_id" value="views_form_user_admin_people_page_1" /><table class="views-table views-view-table cols-7 responsive-enabled">
        <thead>
      <tr>
                  <th class="views-field views-field-user-bulk-form select-all" scope="col">
            
          </th>
                  <th class="views-field views-field-name" id="view-name-table-column" scope="col">
            <a href="/admin/people?user=&amp;role=All&amp;permission=All&amp;status=All&amp;order=name&amp;sort=asc" title="sort by Username">Username</a>
          </th>
                  <th class="views-field views-field-status priority-low" id="view-status-table-column" scope="col">
            <a href="/admin/people?user=&amp;role=All&amp;permission=All&amp;status=All&amp;order=status&amp;sort=asc" title="sort by Status">Status</a>
          </th>
                  <th class="views-field views-field-rid priority-low" id="view-rid-table-column" scope="col">
            Roles
          </th>
                  <th class="views-field views-field-created active priority-low" id="view-created-table-column" scope="col">
            <a href="/admin/people?user=&amp;role=All&amp;permission=All&amp;status=All&amp;order=created&amp;sort=asc" title="sort by Member for">Member for<img typeof="foaf:Image" src="http://drupal-8-0-alpha6.local:8083/core/themes/seven/images/arrow-asc.png" width="9" height="5" alt="Sort ascending" title="Sort ascending" /></a>
          </th>
                  <th class="views-field views-field-access priority-low" id="view-access-table-column" scope="col">
            <a href="/admin/people?user=&amp;role=All&amp;permission=All&amp;status=All&amp;order=access&amp;sort=desc" title="sort by Last access">Last access</a>
          </th>
                  <th class="views-field views-field-dropbutton" id="view-dropbutton-table-column" scope="col">
            Operations
          </th>
              </tr>
    </thead>
    <tbody>
          <tr class="odd views-row-first">
                  <td class="views-field views-field-user-bulk-form">
            <div class="form-item form-type-checkbox form-item-user-bulk-form-0">
 <label class="visually-hidden" for="edit-user-bulk-form-0">Update the user <em class="placeholder">tkoleary</em></label> <input type="checkbox" id="edit-user-bulk-form-0" name="user_bulk_form[0]" value="1" class="form-checkbox" />
</div>

          </td>
                  <td class="views-field views-field-name" headers="view-name-table-column">
            <a href="/user/1" title="View user profile." class="username" lang="" about="/user/1" typeof="schema:Person" property="schema:name" datatype="">tkoleary</a>
          </td>
                  <td class="views-field views-field-status priority-low" headers="view-status-table-column">
            Active
          </td>
                  <td class="views-field views-field-rid priority-low" headers="view-rid-table-column">
            <div class="item-list"><ul><li class="odd first last">Administrator</li></ul></div>
          </td>
                  <td class="views-field views-field-created active priority-low" headers="view-created-table-column">
            1 hour 8 min
          </td>
                  <td class="views-field views-field-access priority-low" headers="view-access-table-column">
            <em class="placeholder">4 min 30 sec</em> ago
          </td>
                  <td class="views-field views-field-dropbutton" headers="view-dropbutton-table-column">
              <div class="dropbutton-wrapper"><div class="dropbutton-widget"><ul class="dropbutton"><li class="edit-node odd first last"><a href="/user/1/edit?destination=admin/people">Edit</a></li></ul></div></div>
          </td>
              </tr>
      </tbody>
</table>
<div class="form-actions form-wrapper" id="edit-actions"><input type="submit" id="edit-submit" name="op" value="Apply" class="button form-submit" /></div></div></form></div></form></div>
    </div>
  
      
          </div>

  </div>
</div>

  </div>

    </main>

    <footer id="footer" role="contentinfo">
      
    </footer>

  </div>
{% endblock %}
