
{% block content %}
   <header id="branding" class="clearfix">
      <nav class="breadcrumb" role="navigation">
    <h2 class="visually-hidden">You are here</h2>
    <ol>
          <li><a href="/">Home</a></li>
          <li><a href="/admin">Administration</a></li>
        </ol>
  </nav>

  <h1 class="page-title">Reports</h1>
        <div class="add-or-remove-shortcuts add-shortcut"><a href="/admin/config/user-interface/shortcut/manage/default/add-link-inline?token=xjOUvglIrGTYa3EXJaF366kr5Qk7el2uhigqnqZTVZQ&amp;link=admin%2Freports&amp;name=Reports&amp;destination=admin%2Freports"><span class="icon">Add or remove shortcut</span><span class="text">Add to <em class="placeholder">Default</em> shortcuts</span></a></div>
      </header>

  <div id="page">
          <div class="tabs-secondary clearfix" role="navigation"></div>
    
    <main id="content" class="clearfix" role="main">
      <div class="visually-hidden"><a id="main-content"></a></div>
              <div id="console" class="clearfix"></div>
                          <div class="region region-content">
    <div class="block block-system" id="block-seven-content">
  
    

  <div class="content">
    <ul class="admin-list"><li><a href="/admin/reports/updates"><span class="label">Available updates</span><div class="description">Get a status report about available updates for your installed modules and themes.</div></a></li><li><a href="/admin/reports/dblog"><span class="label">Recent log messages</span><div class="description">View events that have recently been logged.</div></a></li><li><a href="/admin/reports/fields"><span class="label">Field list</span><div class="description">Overview of fields on all entity types.</div></a></li><li><a href="/admin/reports/status"><span class="label">Status report</span><div class="description">Get a status report about your site's operation and any detected problems.</div></a></li><li><a href="/admin/reports/access-denied"><span class="label">Top 'access denied' errors</span><div class="description">View 'access denied' errors (403s).</div></a></li><li><a href="/admin/reports/page-not-found"><span class="label">Top 'page not found' errors</span><div class="description">View 'page not found' errors (404s).</div></a></li><li><a href="/admin/reports/search"><span class="label">Top search phrases</span><div class="description">View most popular search phrases.</div></a></li><li><a href="/admin/reports/views-plugins"><span class="label">Views plugins</span><div class="description">Overview of plugins used in all views.</div></a></li></ul>
  </div>
</div>

  </div>

    </main>

    <footer id="footer" role="contentinfo">
      
    </footer>

  </div>
{% endblock %}
