
{% block content %}
    <header id="branding" class="clearfix">
      <nav class="breadcrumb" role="navigation">
    <h2 class="visually-hidden">You are here</h2>
    <ol>
          <li><a href="/">Home</a></li>
          <li><a href="/admin">Administration</a></li>
          <li><a href="/admin/structure">Structure</a></li>
        </ol>
  </nav>

    
          <h1 class="page-title">Views</h1>
        <div class="add-or-remove-shortcuts add-shortcut"><a href="/admin/config/user-interface/shortcut/manage/default/add-link-inline?token=xjOUvglIrGTYa3EXJaF366kr5Qk7el2uhigqnqZTVZQ&amp;link=admin%2Fstructure%2Fviews&amp;name=Views&amp;destination=admin%2Fstructure%2Fviews"><span class="icon">Add or remove shortcut</span><span class="text">Add to <em class="placeholder">Default</em> shortcuts</span></a></div>
          <h2 class="visually-hidden">Primary tabs</h2><ul class="tabs primary"><li class="active"><a href="/admin/structure/views" class="active">List<span class="visually-hidden">(active tab)</span></a></li><li><a href="/admin/structure/views/settings">Settings</a></li></ul>
      </header>

  <div id="page">
          <div class="tabs-secondary clearfix" role="navigation"></div>
    
    <main id="content" class="clearfix" role="main">
      <div class="visually-hidden"><a id="main-content"></a></div>
              <div id="console" class="clearfix"></div>
                          <ul class="action-links">
          <li><a href="/admin/structure/views/add" class="button button-action">Add new view</a></li>
        </ul>
              <div class="region region-content">
    <div class="block block-system" id="block-seven-content">
  
    

  <div class="content">
    <div id="views-entity-list"><div class="form-item form-type-search">
 <label>Search</label> <input class="views-filter-text form-search" data-table=".views-listing-table" autocomplete="off" title="Enter a part of the view name or description to filter by." type="search" size="30" maxlength="128" placeholder="Enter view name" />
</div>
<div class="views-list-section enabled"><h2>Enabled</h2><table class="views-listing-table responsive-enabled">
 <thead><tr><th class="views-ui-name">View name</th><th class="views-ui-description">Description</th><th class="views-ui-tag">Tag</th><th class="views-ui-path">Path</th><th class="views-ui-operations">Operations</th> </tr></thead>
<tbody>
 <tr title="Machine name: content" class="views-ui-list-enabled odd"><td><h3 class="views-ui-view-title views-table-filter-text-source">Content</h3>
<div class="views-ui-view-displays">Display: <em>Page</em></div>
</td><td class="views-table-filter-text-source">Find and manage content.</td><td>default</td><td><a href="/admin/content">/admin/content</a></td><td>  <div class="dropbutton-wrapper"><div class="dropbutton-widget"><ul class="dropbutton"><li class="edit odd first"><a href="view_content">Edit</a></li><li class="clone even"><a href="/admin/structure/views/view/content/clone">Clone</a></li><li class="disable odd"><a href="/admin/structure/views/view/content/disable?token=wYmCmTBY5chvwQAwuvIUPmRRdJ_gb2hygMv9wdKaQmY" class="use-ajax">Disable</a></li><li class="delete even last"><a href="/admin/structure/views/view/content/delete">Delete</a></li></ul></div></div></td> </tr>
 <tr title="Machine name: files" class="views-ui-list-enabled even"><td><h3 class="views-ui-view-title views-table-filter-text-source">Files</h3>
<div class="views-ui-view-displays">Display: <em>Page</em></div>
</td><td class="views-table-filter-text-source">Find and manage files.</td><td>default</td><td><a href="/admin/content/files">/admin/content/files</a>, /admin/content/files/usage/%</td><td>  <div class="dropbutton-wrapper"><div class="dropbutton-widget"><ul class="dropbutton"><li class="edit odd first"><a href="/admin/structure/views/view/files">Edit</a></li><li class="clone even"><a href="/admin/structure/views/view/files/clone">Clone</a></li><li class="disable odd"><a href="/admin/structure/views/view/files/disable?token=wYmCmTBY5chvwQAwuvIUPmRRdJ_gb2hygMv9wdKaQmY" class="use-ajax">Disable</a></li><li class="delete even last"><a href="/admin/structure/views/view/files/delete">Delete</a></li></ul></div></div></td> </tr>
 <tr title="Machine name: frontpage" class="views-ui-list-enabled odd"><td><h3 class="views-ui-view-title views-table-filter-text-source">Frontpage</h3>
<div class="views-ui-view-displays">Displays: <em>Feed, Page</em></div>
</td><td class="views-table-filter-text-source">All content promoted to the front page.</td><td>default</td><td><a href="/node">/node</a>, <a href="/rss.xml">/rss.xml</a></td><td>  <div class="dropbutton-wrapper"><div class="dropbutton-widget"><ul class="dropbutton"><li class="edit odd first"><a href="/admin/structure/views/view/frontpage">Edit</a></li><li class="clone even"><a href="/admin/structure/views/view/frontpage/clone">Clone</a></li><li class="disable odd"><a href="/admin/structure/views/view/frontpage/disable?token=wYmCmTBY5chvwQAwuvIUPmRRdJ_gb2hygMv9wdKaQmY" class="use-ajax">Disable</a></li><li class="delete even last"><a href="/admin/structure/views/view/frontpage/delete">Delete</a></li></ul></div></div></td> </tr>
 <tr title="Machine name: user_admin_people" class="views-ui-list-enabled even"><td><h3 class="views-ui-view-title views-table-filter-text-source">People</h3>
<div class="views-ui-view-displays">Display: <em>Page</em></div>
</td><td class="views-table-filter-text-source">Find and manage people interacting with your site.</td><td>default</td><td><a href="/admin/people">/admin/people</a></td><td>  <div class="dropbutton-wrapper"><div class="dropbutton-widget"><ul class="dropbutton"><li class="edit odd first"><a href="/admin/structure/views/view/user_admin_people">Edit</a></li><li class="clone even"><a href="/admin/structure/views/view/user_admin_people/clone">Clone</a></li><li class="disable odd"><a href="/admin/structure/views/view/user_admin_people/disable?token=wYmCmTBY5chvwQAwuvIUPmRRdJ_gb2hygMv9wdKaQmY" class="use-ajax">Disable</a></li><li class="delete even last"><a href="/admin/structure/views/view/user_admin_people/delete">Delete</a></li></ul></div></div></td> </tr>
</tbody>
</table>
</div><div class="views-list-section disabled"><h2>Disabled</h2><table class="views-listing-table responsive-enabled">
 <thead><tr><th class="views-ui-name">View name</th><th class="views-ui-description">Description</th><th class="views-ui-tag">Tag</th><th class="views-ui-path">Path</th><th class="views-ui-operations">Operations</th> </tr></thead>
<tbody>
 <tr title="Machine name: archive" class="views-ui-list-disabled odd"><td><h3 class="views-ui-view-title views-table-filter-text-source">Archive</h3>
<div class="views-ui-view-displays">Displays: <em>Block, Page</em></div>
</td><td class="views-table-filter-text-source">All content, by month.</td><td>default</td><td>/archive</td><td>  <div class="dropbutton-wrapper"><div class="dropbutton-widget"><ul class="dropbutton"><li class="enable odd first"><a href="/admin/structure/views/view/archive/enable?token=CwXLjgsja21SmWNle-CwiRUKu87pcwxUf_YbpeKNCts" class="use-ajax">Enable</a></li><li class="edit even"><a href="/admin/structure/views/view/archive">Edit</a></li><li class="clone odd"><a href="/admin/structure/views/view/archive/clone">Clone</a></li><li class="delete even last"><a href="/admin/structure/views/view/archive/delete">Delete</a></li></ul></div></div></td> </tr>
 <tr title="Machine name: glossary" class="views-ui-list-disabled even"><td><h3 class="views-ui-view-title views-table-filter-text-source">Glossary</h3>
<div class="views-ui-view-displays">Display: <em>Page</em></div>
</td><td class="views-table-filter-text-source">All content, by letter.</td><td>default</td><td>/glossary</td><td>  <div class="dropbutton-wrapper"><div class="dropbutton-widget"><ul class="dropbutton"><li class="enable odd first"><a href="/admin/structure/views/view/glossary/enable?token=CwXLjgsja21SmWNle-CwiRUKu87pcwxUf_YbpeKNCts" class="use-ajax">Enable</a></li><li class="edit even"><a href="/admin/structure/views/view/glossary">Edit</a></li><li class="clone odd"><a href="/admin/structure/views/view/glossary/clone">Clone</a></li><li class="delete even last"><a href="/admin/structure/views/view/glossary/delete">Delete</a></li></ul></div></div></td> </tr>
 <tr title="Machine name: comments_recent" class="views-ui-list-disabled odd"><td><h3 class="views-ui-view-title views-table-filter-text-source">Recent comments</h3>
<div class="views-ui-view-displays">Displays: <em>Block, Page</em></div>
</td><td class="views-table-filter-text-source">Recent comments.</td><td>default</td><td>/comments/recent</td><td>  <div class="dropbutton-wrapper"><div class="dropbutton-widget"><ul class="dropbutton"><li class="enable odd first"><a href="/admin/structure/views/view/comments_recent/enable?token=CwXLjgsja21SmWNle-CwiRUKu87pcwxUf_YbpeKNCts" class="use-ajax">Enable</a></li><li class="edit even"><a href="/admin/structure/views/view/comments_recent">Edit</a></li><li class="clone odd"><a href="/admin/structure/views/view/comments_recent/clone">Clone</a></li><li class="delete even last"><a href="/admin/structure/views/view/comments_recent/delete">Delete</a></li></ul></div></div></td> </tr>
 <tr title="Machine name: taxonomy_term" class="views-ui-list-disabled even"><td><h3 class="views-ui-view-title views-table-filter-text-source">Taxonomy term</h3>
<div class="views-ui-view-displays">Displays: <em>Feed, Page</em></div>
</td><td class="views-table-filter-text-source">Content belonging to a certain taxonomy term.</td><td>default</td><td>/taxonomy/term/%, /taxonomy/term/%/%/feed</td><td>  <div class="dropbutton-wrapper"><div class="dropbutton-widget"><ul class="dropbutton"><li class="enable odd first"><a href="/admin/structure/views/view/taxonomy_term/enable?token=CwXLjgsja21SmWNle-CwiRUKu87pcwxUf_YbpeKNCts" class="use-ajax">Enable</a></li><li class="edit even"><a href="/admin/structure/views/view/taxonomy_term">Edit</a></li><li class="clone odd"><a href="/admin/structure/views/view/taxonomy_term/clone">Clone</a></li><li class="delete even last"><a href="/admin/structure/views/view/taxonomy_term/delete">Delete</a></li></ul></div></div></td> </tr>
 <tr title="Machine name: tracker" class="views-ui-list-disabled odd"><td><h3 class="views-ui-view-title views-table-filter-text-source">Tracker</h3>
<div class="views-ui-view-displays">Display: <em>Page</em></div>
</td><td class="views-table-filter-text-source">New activity on the system.</td><td>default</td><td>/tracker</td><td>  <div class="dropbutton-wrapper"><div class="dropbutton-widget"><ul class="dropbutton"><li class="enable odd first"><a href="/admin/structure/views/view/tracker/enable?token=CwXLjgsja21SmWNle-CwiRUKu87pcwxUf_YbpeKNCts" class="use-ajax">Enable</a></li><li class="edit even"><a href="/admin/structure/views/view/tracker">Edit</a></li><li class="clone odd"><a href="/admin/structure/views/view/tracker/clone">Clone</a></li><li class="delete even last"><a href="/admin/structure/views/view/tracker/delete">Delete</a></li></ul></div></div></td> </tr>
</tbody>
</table>
</div></div>
  </div>
</div>

  </div>

    </main>

    <footer id="footer" role="contentinfo">
      
    </footer>

  </div>
{% endblock %}
