
{% block content %}
     <header id="branding" class="clearfix">
      <nav class="breadcrumb" role="navigation">
    <h2 class="visually-hidden">You are here</h2>
    <ol>
          <li><a href="/">Home</a></li>
          <li><a href="/admin">Administration</a></li>
          <li><a href="/admin/structure">Structure</a></li>
          <li><a href="/admin/structure/views">Views</a></li>
        </ol>
  </nav>

    
          <h1 class="page-title">Content (Content)</h1>
        <div class="add-or-remove-shortcuts add-shortcut"><a href="/admin/config/user-interface/shortcut/manage/default/add-link-inline?token=xjOUvglIrGTYa3EXJaF366kr5Qk7el2uhigqnqZTVZQ&amp;link=admin%2Fstructure%2Fviews%2Fview%2Fcontent&amp;name=Content+%28Content%29&amp;destination=admin%2Fstructure%2Fviews%2Fview%2Fcontent"><span class="icon">Add or remove shortcut</span><span class="text">Add to <em class="placeholder">Default</em> shortcuts</span></a></div>
      </header>

  <div id="page">
          <div class="tabs-secondary clearfix" role="navigation"></div>
    
    <main id="content" class="clearfix" role="main">
      <div class="visually-hidden"><a id="main-content"></a></div>
              <div id="console" class="clearfix"></div>
                    <div id="help">
          <div class="item-list"><ol id="tour" class="hidden"><li data-id="views-display-top" data-aria-describedby="tour-tip-views-ui-displays-contents" data-aria-labelledby="tour-tip-views-ui-displays-label" class="tip-module-views-ui tip-type-text tip-views-ui-displays odd first"><h2 class="tour-tip-label" id="tour-tip-views-ui-displays-label">Displays in this view</h2><p class="tour-tip-body" id="tour-tip-views-ui-displays-contents">A view can consist of multiple displays. A display is a way of outputting the results E.g. as a page or in a block. The available displays in your view are show here.</p><div class="tour-progress">1 of 10</div></li><li data-class="views-display-top li.active" data-aria-describedby="tour-tip-views-ui-displays-contents" data-aria-labelledby="tour-tip-views-ui-displays-label" class="tip-module-views-ui tip-type-text tip-views-ui-active-display even"><h2 class="tour-tip-label" id="tour-tip-views-ui-displays-label">Active display</h2><p class="tour-tip-body" id="tour-tip-views-ui-displays-contents">This is the active display in the view. When there are multiple displays, one link for each display is shown and you can switch displays simply by clicking on the display link.</p><div class="tour-progress">2 of 10</div></li><li data-id="views-display-extra-actions" data-aria-describedby="tour-tip-views-ui-displays-contents" data-aria-labelledby="tour-tip-views-ui-displays-label" data-options="tipLocation:left" class="tip-module-views-ui tip-type-text tip-views-ui-view-admin odd"><h2 class="tour-tip-label" id="tour-tip-views-ui-displays-label">View administration</h2><p class="tour-tip-body" id="tour-tip-views-ui-displays-contents">Use this drop-button to perform administrative tasks on the view, including adding a description and creating a clone. Click the drop button to view the available options.</p><div class="tour-progress">3 of 10</div></li><li data-class="views-ui-display-tab-bucket.format" data-aria-describedby="tour-tip-views-ui-displays-contents" data-aria-labelledby="tour-tip-views-ui-displays-label" class="tip-module-views-ui tip-type-text tip-views-ui-format even"><h2 class="tour-tip-label" id="tour-tip-views-ui-displays-label">Output format</h2><p class="tour-tip-body" id="tour-tip-views-ui-displays-contents">Use this section to manage the format of the output results. You can choose different ways in which the matching results are output. E.g. Choose <em>Content</em> to output each item completely, using your configured display settings. Other options include <em>Fields</em> which allows you to output only specific fields on each matching result. Additional formats can be added by installing additional modules to <em>extend</em> Drupal's base functionality.</p><div class="tour-progress">4 of 10</div></li><li data-class="views-ui-display-tab-bucket.fields" data-aria-describedby="tour-tip-views-ui-displays-contents" data-aria-labelledby="tour-tip-views-ui-displays-label" class="tip-module-views-ui tip-type-text tip-views-ui-fields odd"><h2 class="tour-tip-label" id="tour-tip-views-ui-displays-label">Fields</h2><p class="tour-tip-body" id="tour-tip-views-ui-displays-contents">This section shows the fields output for each result. Depending on the format selected for the view, you may not see anything listed here. If the format of your view uses fields, you can click on each field displayed to configure it.</p><div class="tour-progress">5 of 10</div></li><li data-class="views-ui-display-tab-bucket.filter-criteria" data-aria-describedby="tour-tip-views-ui-displays-contents" data-aria-labelledby="tour-tip-views-ui-displays-label" class="tip-module-views-ui tip-type-text tip-views-ui-filter even"><h2 class="tour-tip-label" id="tour-tip-views-ui-displays-label">Filter your view</h2><p class="tour-tip-body" id="tour-tip-views-ui-displays-contents">This section displays the filters you have active in your view. A filter is used to limit the results available in the output. E.g. to only show content that was <em>published</em>, you would add a filter for <em>Published</em> and select <em>Yes</em>.</p><div class="tour-progress">6 of 10</div></li><li data-class="views-ui-display-tab-bucket.filter-criteria .dropbutton-widget" data-aria-describedby="tour-tip-views-ui-displays-contents" data-aria-labelledby="tour-tip-views-ui-displays-label" class="tip-module-views-ui tip-type-text tip-views-ui-filter-operations odd"><h2 class="tour-tip-label" id="tour-tip-views-ui-displays-label">Filter actions</h2><p class="tour-tip-body" id="tour-tip-views-ui-displays-contents">Use this drop-button to add and re-arrange filters</p><div class="tour-progress">7 of 10</div></li><li data-class="views-ui-display-tab-bucket.sort-criteria" data-aria-describedby="tour-tip-views-ui-displays-contents" data-aria-labelledby="tour-tip-views-ui-displays-label" class="tip-module-views-ui tip-type-text tip-views-ui-sorts even"><h2 class="tour-tip-label" id="tour-tip-views-ui-displays-label">Sort Criteria</h2><p class="tour-tip-body" id="tour-tip-views-ui-displays-contents">This section shows the enabled sorting criteria for the view. Sorting criteria are used to control the order in which the results are output. Clicking on any of the active sorting criteria shown in this section enables you to configure it.</p><div class="tour-progress">8 of 10</div></li><li data-class="views-ui-display-tab-bucket.sort-criteria .dropbutton-widget" data-aria-describedby="tour-tip-views-ui-displays-contents" data-aria-labelledby="tour-tip-views-ui-displays-label" class="tip-module-views-ui tip-type-text tip-views-ui-sorts-operations odd"><h2 class="tour-tip-label" id="tour-tip-views-ui-displays-label">Sort actions</h2><p class="tour-tip-body" id="tour-tip-views-ui-displays-contents">Use this drop-button to add and re-arrange the sorting criteria.</p><div class="tour-progress">9 of 10</div></li><li data-id="preview-submit" data-aria-describedby="tour-tip-views-ui-displays-contents" data-aria-labelledby="tour-tip-views-ui-displays-label" class="tip-module-views-ui tip-type-text tip-views-ui-preview even last" data-text="End tour"><h2 class="tour-tip-label" id="tour-tip-views-ui-displays-label">Preview</h2><p class="tour-tip-body" id="tour-tip-views-ui-displays-contents">Use this button to show a preview of the view output</p><div class="tour-progress">10 of 10</div></li></ol></div>
        </div>
                    <div class="region region-content">
    <div class="block block-system" id="block-seven-content">
  
    

  <div class="content">
    <div class="views-edit-view views-admin enabled clearfix"><form class="form-edit" action="/admin/structure/views/view/content" method="post" id="view-edit-form" accept-charset="UTF-8"><div><div class="view-changed messages messages--warning js-hide form-wrapper" id="edit-changed">You have unsaved changes.</div><h1 class="unit-title clearfix">Displays</h1><div class="views-displays form-wrapper" id="edit-displays"><div class="views-display-top clearfix" id="views-display-top">  <div class="dropbutton-wrapper"><div class="dropbutton-widget"><ul id="views-display-extra-actions" class="dropbutton"><li class="edit-details odd first"><a href="/admin/structure/views/nojs/edit-details/content/page_1" class="views-ajax-link">Edit view name/description</a></li><li class="analyze even"><a href="/admin/structure/views/nojs/analyze/content/page_1" class="views-ajax-link">Analyze view</a></li><li class="clone odd"><a href="/admin/structure/views/view/content/clone">Clone view</a></li><li class="reorder even"><a href="/admin/structure/views/nojs/reorder-displays/content/page_1" class="views-ajax-link">Reorder displays</a></li><li class="delete odd last"><a href="/admin/structure/views/view/content/delete">Delete view</a></li></ul></div></div><h2 class="visually-hidden">Secondary tabs</h2><ul id = "views-display-menu-tabs" class="tabs secondary"><li class="active"><a href="/admin/structure/views/view/content/edit/page_1">Page<span class="visually-hidden">(active tab)</span></a></li></ul><input class="add-display button form-submit" formnovalidate="formnovalidate" type="submit" id="edit-displays-top-add-display-attachment" name="op" value="Add Attachment" /><input class="add-display button form-submit" formnovalidate="formnovalidate" type="submit" id="edit-displays-top-add-display-block" name="op" value="Add Block" /><input class="add-display button form-submit" formnovalidate="formnovalidate" type="submit" id="edit-displays-top-add-display-embed" name="op" value="Add Embed" /><input class="add-display button form-submit" formnovalidate="formnovalidate" type="submit" id="edit-displays-top-add-display-entity-reference" name="op" value="Add Entity Reference" /><input class="add-display button form-submit" formnovalidate="formnovalidate" type="submit" id="edit-displays-top-add-display-feed" name="op" value="Add Feed" /><input class="add-display button form-submit" formnovalidate="formnovalidate" type="submit" id="edit-displays-top-add-display-page" name="op" value="Add Page" /></div>
<div id="edit-display-settings" class="form-wrapper"><div id="edit-displays-settings-settings-content" class="form-wrapper"><div class="views-display-tab form-wrapper" id="views-tab-page_1"><div id="edit-display-settings-details" class="form-wrapper"><div id="edit-display-settings-top" class="views-ui-display-tab-actions views-ui-display-tab-bucket clearfix form-wrapper">  <div class="dropbutton-wrapper"><div class="dropbutton-widget"><ul class="dropbutton"><li class="view"><a href="/admin/content" id="edit-displays-settings-settings-content-tab-content-details-top-actions-path">View Page</a></li><li class="duplicate"><input formnovalidate="formnovalidate" type="submit" id="edit-displays-settings-settings-content-tab-content-details-top-actions-duplicate" name="op" value="Clone Page" class="button form-submit" /></li><li class="delete"><input formnovalidate="formnovalidate" type="submit" id="edit-displays-settings-settings-content-tab-content-details-top-actions-delete" name="op" value="Delete Page" class="button form-submit" /></li><li class="duplicate"><input formnovalidate="formnovalidate" type="submit" id="edit-displays-settings-settings-content-tab-content-details-top-actions-clone-as-attachment" name="op" value="Clone as Attachment" class="button form-submit" /></li><li class="duplicate"><input formnovalidate="formnovalidate" type="submit" id="edit-displays-settings-settings-content-tab-content-details-top-actions-clone-as-block" name="op" value="Clone as Block" class="button form-submit" /></li><li class="duplicate"><input formnovalidate="formnovalidate" type="submit" id="edit-displays-settings-settings-content-tab-content-details-top-actions-clone-as-embed" name="op" value="Clone as Embed" class="button form-submit" /></li><li class="duplicate"><input formnovalidate="formnovalidate" type="submit" id="edit-displays-settings-settings-content-tab-content-details-top-actions-clone-as-entity-reference" name="op" value="Clone as Entity Reference" class="button form-submit" /></li><li class="duplicate"><input formnovalidate="formnovalidate" type="submit" id="edit-displays-settings-settings-content-tab-content-details-top-actions-clone-as-feed" name="op" value="Clone as Feed" class="button form-submit" /></li><li class="disable"><input formnovalidate="formnovalidate" type="submit" id="edit-displays-settings-settings-content-tab-content-details-top-actions-disable" name="op" value="Disable Page" class="button form-submit" /></li></ul></div></div><div class="views-display-setting odd clearfix views-ui-display-tab-setting">
  <span class="label">Display name:</span>      <a href="/admin/structure/views/nojs/display/content/page_1/display_title" class="views-ajax-link " title="Page" id="views-page-1-display-title">Page</a>
  </div>
</div><div id="edit-display-settings-main" class="clearfix views-display-columns form-wrapper"><div class="views-display-column first form-wrapper" id="edit-displays-settings-settings-content-tab-content-details-columns-first"><div class="views-ui-display-tab-bucket title">
  <h3>Title</h3>  <div class="views-display-setting even clearfix views-ui-display-tab-setting defaulted">
  <span class="label">Title:</span>      <a href="/admin/structure/views/nojs/display/content/page_1/title" class="views-ajax-link " title="Change the title that this display will use." id="views-page-1-title">Content</a>
  </div>

  </div>
<div class="views-ui-display-tab-bucket format">
  <h3>Format</h3>  <div class="views-display-setting odd clearfix views-ui-display-tab-setting defaulted">
  <span class="label">Format:</span>      <a href="/admin/structure/views/nojs/display/content/page_1/style" class="views-ajax-link " title="Change the way content is formatted." id="views-page-1-style">Table</a><span class="label">&nbsp;|&nbsp;</span><a href="/admin/structure/views/nojs/display/content/page_1/style_options" class="views-ajax-link views-button-configure" title="Change settings for this format" id="views-page-1-style-options"><span>Settings</span></a>
  </div>

  </div>
<div class="views-ui-display-tab-bucket fields">
  <h3>Fields</h3>  <div class="views-display-setting even clearfix views-ui-display-tab-setting">
        <a href="/admin/structure/views/nojs/config-item/content/page_1/field/node_bulk_form" class="views-ajax-link">Content: Node operations bulk form</a>
  </div>
<div class="views-display-setting odd clearfix views-ui-display-tab-setting">
        <a href="/admin/structure/views/nojs/config-item/content/page_1/field/title" class="views-ajax-link">Content: Title (Title)</a>
  </div>
<div class="views-display-setting even clearfix views-ui-display-tab-setting">
        <a href="/admin/structure/views/nojs/config-item/content/page_1/field/type" class="views-ajax-link">Content: Type (Content Type)</a>
  </div>
<div class="views-display-setting odd clearfix views-ui-display-tab-setting">
        <a href="/admin/structure/views/nojs/config-item/content/page_1/field/name" class="views-ajax-link">(author) User: Name (Author)</a>
  </div>
<div class="views-display-setting even clearfix views-ui-display-tab-setting">
        <a href="/admin/structure/views/nojs/config-item/content/page_1/field/status" class="views-ajax-link">Content: Published status (Status)</a>
  </div>
<div class="views-display-setting odd clearfix views-ui-display-tab-setting">
        <a href="/admin/structure/views/nojs/config-item/content/page_1/field/changed" class="views-ajax-link">Content: Updated date (Updated)</a>
  </div>
<div class="views-display-setting even clearfix views-ui-display-tab-setting">
        <a href="/admin/structure/views/nojs/config-item/content/page_1/field/edit_node" class="views-ajax-link views-field-excluded">Content: Link to edit content [hidden]</a>
  </div>
<div class="views-display-setting odd clearfix views-ui-display-tab-setting">
        <a href="/admin/structure/views/nojs/config-item/content/page_1/field/delete_node" class="views-ajax-link views-field-excluded">Content: Link to delete content [hidden]</a>
  </div>
<div class="views-display-setting even clearfix views-ui-display-tab-setting">
        <a href="/admin/structure/views/nojs/config-item/content/page_1/field/translation_link" class="views-ajax-link">Optional handler is missing (Module: content_translation) …</a>
  </div>
<div class="views-display-setting odd clearfix views-ui-display-tab-setting">
        <a href="/admin/structure/views/nojs/config-item/content/page_1/field/dropbutton" class="views-ajax-link">Global: Dropbutton (Operations)</a>
  </div>
<div class="views-display-setting even clearfix views-ui-display-tab-setting">
        <a href="/admin/structure/views/nojs/config-item/content/page_1/field/timestamp" class="views-ajax-link">Content: Has new content (Has new content)</a>
  </div>

    <div class="dropbutton-wrapper"><div class="dropbutton-widget"><ul class="views-ui-settings-bucket-operations dropbutton"><li class="add odd first"><a href="/admin/structure/views/nojs/add-item/content/page_1/field" class="icon compact add views-ajax-link" id="views-add-field">Add <span class="visually-hidden">fields</span></a></li><li class="rearrange even last"><a href="/admin/structure/views/nojs/rearrange/content/page_1/field" class="icon compact rearrange views-ajax-link" id="views-rearrange-field">Rearrange <span class="visually-hidden">fields</span></a></li></ul></div></div></div>
<div class="views-ui-display-tab-bucket filter-criteria">
  <h3>Filter criteria</h3>  <div class="views-display-setting odd clearfix views-ui-display-tab-setting">
        <a href="/admin/structure/views/nojs/config-item/content/page_1/filter/status_extra" class="views-ajax-link">Content: Published status or admin user</a>
  </div>
<div class="views-display-setting even clearfix views-ui-display-tab-setting">
        <a href="/admin/structure/views/nojs/config-item/content/page_1/filter/status" class="views-ajax-link">Content: Published status (grouped)</a>
  </div>
<div class="views-display-setting odd clearfix views-ui-display-tab-setting">
        <a href="/admin/structure/views/nojs/config-item/content/page_1/filter/type" class="views-ajax-link">Content: Type (exposed)</a>
  </div>
<div class="views-display-setting even clearfix views-ui-display-tab-setting">
        <a href="/admin/structure/views/nojs/config-item/content/page_1/filter/langcode" class="views-ajax-link">Optional handler is missing (Module: language) …</a>
  </div>

    <div class="dropbutton-wrapper"><div class="dropbutton-widget"><ul class="views-ui-settings-bucket-operations dropbutton"><li class="add odd first"><a href="/admin/structure/views/nojs/add-item/content/page_1/filter" class="icon compact add views-ajax-link" id="views-add-filter">Add <span class="visually-hidden">filter criteria</span></a></li><li class="rearrange even last"><a href="/admin/structure/views/nojs/rearrange-filter/content/page_1" class="icon compact rearrange views-ajax-link" id="views-rearrange-filter">And/Or Rearrange <span class="visually-hidden">filter criteria</span></a></li></ul></div></div></div>
<div class="views-ui-display-tab-bucket sort-criteria">
  <h3>Sort criteria</h3>  
    <div class="dropbutton-wrapper"><div class="dropbutton-widget"><ul class="views-ui-settings-bucket-operations dropbutton"><li class="add odd first last"><a href="/admin/structure/views/nojs/add-item/content/page_1/sort" class="icon compact add views-ajax-link" id="views-add-sort">Add <span class="visually-hidden">sort criteria</span></a></li></ul></div></div></div>
</div><div class="views-display-column second form-wrapper" id="edit-displays-settings-settings-content-tab-content-details-columns-second"><div class="views-ui-display-tab-bucket page-settings">
  <h3>Page settings</h3>  <div class="views-display-setting odd clearfix views-ui-display-tab-setting">
  <span class="label">Path:</span>      <a href="/admin/structure/views/nojs/display/content/page_1/path" class="views-ajax-link " title="/admin/content/node" id="views-page-1-path">/admin/content/node</a>
  </div>
<div class="views-display-setting even clearfix views-ui-display-tab-setting">
  <span class="label">Menu:</span>      <a href="/admin/structure/views/nojs/display/content/page_1/menu" class="views-ajax-link " title="Tab: Content" id="views-page-1-menu">Tab: Content</a><span class="label">&nbsp;|&nbsp;</span><a href="/admin/structure/views/nojs/display/content/page_1/tab_options" class="views-ajax-link views-button-configure" title="Change settings for the parent menu" id="views-page-1-tab-options"><span>Parent menu item</span></a>
  </div>

  </div>
<div class="views-ui-display-tab-bucket access">
    <div class="views-display-setting odd clearfix views-ui-display-tab-setting defaulted">
  <span class="label">Access:</span>      <a href="/admin/structure/views/nojs/display/content/page_1/access" class="views-ajax-link " title="Specify access control type for this display." id="views-page-1-access">Permission</a><span class="label">&nbsp;|&nbsp;</span><a href="/admin/structure/views/nojs/display/content/page_1/access_options" class="views-ajax-link views-button-configure" title="Change settings for this access type." id="views-page-1-access-options"><span>Access the Content overview page</span></a>
  </div>

  </div>
<div class="views-ui-display-tab-bucket header">
  <h3>Header</h3>  
    <div class="dropbutton-wrapper"><div class="dropbutton-widget"><ul class="views-ui-settings-bucket-operations dropbutton"><li class="add odd first last"><a href="/admin/structure/views/nojs/add-item/content/page_1/header" class="icon compact add views-ajax-link" id="views-add-header">Add <span class="visually-hidden">header</span></a></li></ul></div></div></div>
<div class="views-ui-display-tab-bucket footer">
  <h3>Footer</h3>  
    <div class="dropbutton-wrapper"><div class="dropbutton-widget"><ul class="views-ui-settings-bucket-operations dropbutton"><li class="add odd first last"><a href="/admin/structure/views/nojs/add-item/content/page_1/footer" class="icon compact add views-ajax-link" id="views-add-footer">Add <span class="visually-hidden">footer</span></a></li></ul></div></div></div>
<div class="views-ui-display-tab-bucket no-results-behavior">
  <h3>No results behavior</h3>  <div class="views-display-setting even clearfix views-ui-display-tab-setting">
        <a href="/admin/structure/views/nojs/config-item/content/page_1/empty/area_text_custom" class="views-ajax-link">Global: Unfiltered text (Global: Unfiltered text)</a>
  </div>

    <div class="dropbutton-wrapper"><div class="dropbutton-widget"><ul class="views-ui-settings-bucket-operations dropbutton"><li class="add odd first"><a href="/admin/structure/views/nojs/add-item/content/page_1/empty" class="icon compact add views-ajax-link" id="views-add-empty">Add <span class="visually-hidden">no results behavior</span></a></li><li class="rearrange even last"><a href="/admin/structure/views/nojs/rearrange/content/page_1/empty" class="icon compact rearrange views-ajax-link" id="views-rearrange-empty">Rearrange <span class="visually-hidden">no results behavior</span></a></li></ul></div></div></div>
<div class="views-ui-display-tab-bucket pager">
  <h3>Pager</h3>  <div class="views-display-setting odd clearfix views-ui-display-tab-setting defaulted">
  <span class="label">Use pager:</span>      <a href="/admin/structure/views/nojs/display/content/page_1/pager" class="views-ajax-link " title="Change this display&#039;s pager setting." id="views-page-1-pager">Full</a><span class="label">&nbsp;|&nbsp;</span><a href="/admin/structure/views/nojs/display/content/page_1/pager_options" class="views-ajax-link views-button-configure" title="Change settings for this pager type." id="views-page-1-pager-options"><span>Paged, 50 items</span></a>
  </div>
<div class="views-display-setting even clearfix views-ui-display-tab-setting defaulted">
  <span class="label">More link:</span>      <a href="/admin/structure/views/nojs/display/content/page_1/use_more" class="views-ajax-link " title="Specify whether this display will provide a &quot;more&quot; link." id="views-page-1-use-more">No</a>
  </div>

  </div>
</div><details class="views-display-column third form-wrapper" id="edit-displays-settings-settings-content-tab-content-details-columns-third"><summary role="button" aria-controls="edit-displays-settings-settings-content-tab-content-details-columns-third">Advanced</summary><div class="details-wrapper"><div class="views-ui-display-tab-bucket contextual-filters">
  <h3>Contextual filters</h3>  
    <div class="dropbutton-wrapper"><div class="dropbutton-widget"><ul class="views-ui-settings-bucket-operations dropbutton"><li class="add odd first last"><a href="/admin/structure/views/nojs/add-item/content/page_1/argument" class="icon compact add views-ajax-link" id="views-add-argument">Add <span class="visually-hidden">contextual filters</span></a></li></ul></div></div></div>
<div class="views-ui-display-tab-bucket relationships">
  <h3>Relationships</h3>  <div class="views-display-setting odd clearfix views-ui-display-tab-setting">
        <a href="/admin/structure/views/nojs/config-item/content/page_1/relationship/uid" class="views-ajax-link">author</a>
  </div>

    <div class="dropbutton-wrapper"><div class="dropbutton-widget"><ul class="views-ui-settings-bucket-operations dropbutton"><li class="add odd first"><a href="/admin/structure/views/nojs/add-item/content/page_1/relationship" class="icon compact add views-ajax-link" id="views-add-relationship">Add <span class="visually-hidden">relationships</span></a></li><li class="rearrange even last"><a href="/admin/structure/views/nojs/rearrange/content/page_1/relationship" class="icon compact rearrange views-ajax-link" id="views-rearrange-relationship">Rearrange <span class="visually-hidden">relationships</span></a></li></ul></div></div></div>
<div class="views-ui-display-tab-bucket exposed-form">
  <h3>Exposed form</h3>  <div class="views-display-setting even clearfix views-ui-display-tab-setting">
  <span class="label">Exposed form in block:</span>      <a href="/admin/structure/views/nojs/display/content/page_1/exposed_block" class="views-ajax-link " title="Allow the exposed form to appear in a block instead of the view." id="views-page-1-exposed-block">No</a>
  </div>
<div class="views-display-setting odd clearfix views-ui-display-tab-setting defaulted">
  <span class="label">Exposed form style:</span>      <a href="/admin/structure/views/nojs/display/content/page_1/exposed_form" class="views-ajax-link " title="Select the kind of exposed filter to use." id="views-page-1-exposed-form">Basic</a><span class="label">&nbsp;|&nbsp;</span><a href="/admin/structure/views/nojs/display/content/page_1/exposed_form_options" class="views-ajax-link views-button-configure" title="Exposed form settings for this exposed form style." id="views-page-1-exposed-form-options"><span>Settings</span></a>
  </div>

  </div>
<div class="views-ui-display-tab-bucket other">
  <h3>Other</h3>  <div class="views-display-setting even clearfix views-ui-display-tab-setting">
  <span class="label">Machine Name:</span>      <a href="/admin/structure/views/nojs/display/content/page_1/display_id" class="views-ajax-link " title="Change the machine name of this display." id="views-page-1-display-id">page_1</a>
  </div>
<div class="views-display-setting odd clearfix views-ui-display-tab-setting">
  <span class="label">Administrative comment:</span>      <a href="/admin/structure/views/nojs/display/content/page_1/display_comment" class="views-ajax-link " title="Comment or document this display." id="views-page-1-display-comment">None</a>
  </div>
<div class="views-display-setting even clearfix views-ui-display-tab-setting defaulted">
  <span class="label">Use AJAX:</span>      <a href="/admin/structure/views/nojs/display/content/page_1/use_ajax" class="views-ajax-link " title="Change whether or not this display will use AJAX." id="views-page-1-use-ajax">No</a>
  </div>
<div class="views-display-setting odd clearfix views-ui-display-tab-setting defaulted">
  <span class="label">Hide attachments in summary:</span>      <a href="/admin/structure/views/nojs/display/content/page_1/hide_attachment_summary" class="views-ajax-link " title="Change whether or not to display attachments when displaying a contextual filter summary." id="views-page-1-hide-attachment-summary">No</a>
  </div>
<div class="views-display-setting even clearfix views-ui-display-tab-setting defaulted">
  <span class="label">Contextual links:</span>      <a href="/admin/structure/views/nojs/display/content/page_1/show_admin_links" class="views-ajax-link " title="Change whether or not to display contextual links for this view." id="views-page-1-show-admin-links">Hidden</a>
  </div>
<div class="views-display-setting odd clearfix views-ui-display-tab-setting defaulted">
  <span class="label">Use aggregation:</span>      <a href="/admin/structure/views/nojs/display/content/page_1/group_by" class="views-ajax-link " title="Allow grouping and aggregation (calculation) of fields." id="views-page-1-group-by">No</a>
  </div>
<div class="views-display-setting even clearfix views-ui-display-tab-setting defaulted">
  <span class="label">Query settings:</span>      <a href="/admin/structure/views/nojs/display/content/page_1/query" class="views-ajax-link " title="Allow to set some advanced settings for the query plugin" id="views-page-1-query">Settings</a>
  </div>
<div class="views-display-setting odd clearfix views-ui-display-tab-setting">
  <span class="label">Field Language:</span>      <a href="/admin/structure/views/nojs/display/content/page_1/field_langcode" class="views-ajax-link " title="All fields which support translations will be displayed in the selected language." id="views-page-1-field-langcode">Current user's language</a>
  </div>
<div class="views-display-setting even clearfix views-ui-display-tab-setting defaulted">
  <span class="label">Caching:</span>      <a href="/admin/structure/views/nojs/display/content/page_1/cache" class="views-ajax-link " title="Specify caching type for this display." id="views-page-1-cache">None</a>
  </div>
<div class="views-display-setting odd clearfix views-ui-display-tab-setting defaulted">
  <span class="label">CSS class:</span>      <a href="/admin/structure/views/nojs/display/content/page_1/css_class" class="views-ajax-link " title="Change the CSS class name(s) that will be added to this display." id="views-page-1-css-class">None</a>
  </div>
<div class="views-display-setting even clearfix views-ui-display-tab-setting">
  <span class="label">Output:</span>      <a href="/admin/structure/views/nojs/display/content/page_1/analyze-theme" class="views-ajax-link " title="Get information on how to theme this display" id="views-page-1-analyze-theme">Templates</a>
  </div>

  </div>
</div></details>
</div></div></div></div></div></div><div id="views-ajax-popup" class="form-wrapper"><div id="views-ajax-title"></div><div id="views-ajax-body" class="form-wrapper"><div class="message">Click on an item to edit that item's details.</div></div></div><input type="hidden" name="form_build_id" value="form-7HPmjkUT2dCLFJOXUvCijp2AaTx6WlhRs0hC6yCCemY" /><input type="hidden" name="form_token" value="MG2kJuHeuQ39ZUc6SDcgOrYUUV2fhN4-OtAf2EDpkbE" /><input type="hidden" name="form_id" value="view_edit_form" /><div class="form-actions form-wrapper" id="edit-actions"><input type="submit" id="edit-actions-submit" name="op" value="Save" class="button button-primary form-submit" /><input type="submit" id="edit-actions-cancel" name="op" value="Cancel" class="button form-submit" /></div></div></form></div><div id="views-preview-wrapper" class="views-admin clearfix"><form class="view-preview-form view-form" action="/admin/structure/views/view/content/preview/page_1" method="post" id="views-ui-preview-form" accept-charset="UTF-8"><div><div class="form-item form-type-checkbox form-item-live-preview">
 <input type="checkbox" id="edit-displays-live-preview" name="live_preview" value="1" checked="checked" class="form-checkbox" /> <label class="option" for="edit-displays-live-preview">Auto preview</label>
</div>
<div class="form-item form-type-textfield form-item-view-args">
 <label for="preview-args">Preview with contextual filters:</label> <input aria-describedby="preview-args--description" type="text" id="preview-args" name="view_args" value="" size="60" maxlength="128" class="form-text" />
<div class="description" id="preview-args--description">Separate contextual filter values with a "/". For example, <em class="placeholder">40/12/10</em>.</div>
</div>
<input type="hidden" name="form_build_id" value="form-jvakR2dIBPQP_odDCB1LNd6CUTNEC2bjKtd1Cm4K8JM" /><input type="hidden" name="form_token" value="bHE26vECplFud8FvHJvkbP1UllrgxjQMM0hXv-lkP-M" /><input type="hidden" name="form_id" value="view_preview_form" /><div id="preview-submit-wrapper" class="form-actions form-wrapper"><input class="arguments-preview button form-submit" type="submit" id="preview-submit" name="op" value="Update preview" /></div></div></form></div>
  </div>
</div>

  </div>

    </main>

    <footer id="footer" role="contentinfo">
      
    </footer>

  </div>
{% endblock %}
